<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<%- include('partials/config'); %>
		<%- include('partials/head'); %>
		<%- include('partials/style'); %>
		<%- include('partials/header-scripts'); %>
	</head>
	<body>
		<header class="header">
			<a href="#content" class="sr-only sr-only-focusable offscreen">Skip Header</a>
			<button class="dark-mode" id="dark-mode" aria-label="light/dark mode switch" title="<%- ctaDarkmodeLabel %>"></button>
			<button class="season-mode" id="season-mode" aria-label="season mode switch" title="<%- ctaSeasonmodeLabel %>"></button>
			<%- include('partials/menu'); %>
			<div class="header-title">
				<h1 class="animated bounceInDown"><%= companyName %></h1>
				<span><%=valuePropText%></span>
				<button class="bookme-button"><%=ctaPrimaryLabel%></button>
			</div>
		</header>
		<main class="main" id="home">
			<div id="content" class="content">
				<article id="about-us" class="cards about">
					<header>
						<h2><%- panel1Heading %></h2>
					</header>
					<div class="article-text">
						<p><%- panel1Summary %><br /><br /></p>
						<div class="read">
							<%- include('partials/about-us'); %>
						</div>
					</div>
					<footer class="article-footer"></footer>
				</article>
					
				<article id="booking" class="cards booking">
					<header>
						<h2><%= panel2Heading %></h2>
					</header>
					<div class="container article-text">
						<p class='booking-text'><a href="#booking" class='bookme-link'><%- panel2Summary %></a></p>
						<div class="read" id="appointment_form">
							<%- include('partials/booking-form'); %>
						</div>
					</div>
					<footer class="article-footer"></footer>
				</article>

				<article id="treatment-services" class="cards treatment">
					<header>
						<h2><%= panel3Heading %></h2>
					</header>
					<div class="article-text">
						<p class="treatment-text"><%- panel3Summary %></p>
						<div class="read">
							<%- include('partials/treatment'); %>
						</div>
					</div>
					<footer class="article-footer"></footer>
				</article>

				<article id="finance" class="cards finance">
					<header>
						<h2><%= panel4Heading %></h2>
					</header>
					<div class="article-text">
						<p class="finance-text"><%- panel4Summary %></p>
						<div class="read">
							<%- include('partials/finance'); %>
						</div>
					</div>
					<footer class="article-footer"></footer>
				</article>

				<article id="questions" class="cards questions">
					<header>
						<h2><%= panel5Heading %></h2>
					</header>
					<div class="article-text">
						<p class="questions-text"><%- panel5Summary %></p>
						<div class="read">
							<%- include('partials/faqs'); %>
						</div>
					</div>
					<footer class="article-footer"></footer>
				</article>

				<article id="providers" class="cards providers">
					<header>
						<h2><%= panel6Heading %></h2>
					</header>
					<div class="article-text">
						<p class="suppliers-text"><%- panel6Summary %></p>
						<div class="read">
							<%- include('partials/providers'); %>
						</div>
					</div>
					<footer class="article-footer"></footer>
				</article>

				<article id="contact-us" class="cards contact">
					<header>
						<h2 id="help"><%= panel7Heading %></h2>
					</header>
					<div class="article-text">
						<p><%- panel7Summary %><br /><br /></p>

						<div class="container-fluid">
							<%- include('partials/contact-us'); %>
						</div>
						<div class="read">
							<%- include('partials/google-map'); %>
						</div>
					</div>
					<footer class="article-footer"></footer>
				</article>

			</div>
		</main>
		<%- include('partials/3d-menu'); %>
		<%- include('partials/tickertape'); %>
		<div class="mask"></div>
		<aside class="inactive">
			<div class="close-button"></div>
			<section class="context-viewer">
				<h2>Contextual View</h2>
				<%- include('partials/content-viewer'); %>
			</section>
		</aside>
		<div class="container-fluid credits cta-tray animated fadeOutLeft d-block">
			<ul role="menubar">
				<li class="menubutton" role="menuitem"><button class="feedback-form feedback-button" aria-label="feedback form"></button></li>
				<li class="menubutton" role="menuitem"><button class="bookme-cta-button"><%=ctaPrimaryLabel%></button></li>
			</ul>
		</div>
		<footer class="footer">
			<%- include('partials/footer'); %>
		</footer>
		<video id="bgvid" playsinline autoplay muted loop>
			<!-- 
			- Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
			WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
			
			<!-- <source class="webm" src=" " type="video/webm">
			<source class="mp4" src=" " type="video/mp4"> -->
		</video>
		<%- include('partials/footer-scripts'); %>
	</body>
</html>