<div class="three-d-menu" data-type="background" data-speed="10">
	<div class="skills"> <!--more descriptive classes and id's --> 
		<h2>Skills Matrix</h2> 
		<ul> 
			<li class="wrap"> 
				<ul class="cube"> 
					<li class="front icon-kanban"></li> 
					<li class="back icon-mgmt"></li> 
					<li class="top"></li> 
					<li class="bottom"></li> 
					<li class="left icon-office"></li> 
					<li class="right icon-pencil"></li> 
				</ul> 
			</li> 
			<li class="wrap"> 
				<ul class="cube"> 
					<li class="front">UX</li> 
					<li class="back">UI</li> 
					<li class="top"></li> 
					<li class="bottom"></li> 
					<li class="left">IA</li> 
					<li class="right">IXD</li> 
				</ul> 
			</li> 
			<li class="wrap"> 
				<ul class="cube"> 
					<li class="front icon-linkedin"></li> 
					<li class="back icon-skype"></li> 
					<li class="top"></li> 
					<li class="bottom"></li> 
					<li class="left icon-mail"></li> 
					<li class="right icon-twitter"></li> 
				</ul> 
			</li> 
		</ul> 
	</div>
</div>