<div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="socialiteanesthesia"><a class="LI-simple-link" href="https://www.linkedin.com/in/socialiteanesthesia?trk=profile-badge">LinkedIn link to Francis Ian C. Bicol profile</a></div>
<h3 id="ian-bicol">Francis Ian C. Bicol, DNP, CRNA</h3>
	<p>Wayfarers crucifix next level, cornhole helvetica messenger bag everyday carry four dollar toast drinking vinegar pork belly umami literally. Kombucha squid food truck man braid affogato selfies celiac. Umami yuccie marfa fam, hashtag banh mi keffiyeh VHS fashion axe truffaut glossier master cleanse jean shorts. Pickled selvage raclette, organic kogi lomo literally lumbersexual chambray slow-carb waistcoat. Chicharrones kogi biodiesel keffiyeh. Green juice taiyaki microdosing cornhole actually adaptogen. Wayfarers VHS echo park single-origin coffee, put a bird on it fingerstache everyday carry waistcoat kickstarter.</p>

	<h3 id="staff">The Statera Team</h3>
	<p>Pickled selvage raclette, organic kogi lomo literally lumbersexual chambray slow-carb waistcoat. Chicharrones kogi biodiesel keffiyeh. Green juice taiyaki microdosing cornhole actually adaptogen. Wayfarers VHS echo park single-origin coffee, put a bird on it fingerstache everyday carry waistcoat kickstarter.</p>