<form action="https://formspree.io/<%= businessEmail %>" method="POST">
	<input type="hidden" name="_subject" value="Statera booking query" />
	<input type="hidden" name="_next" value="?mode=thankyou#booking" />
	<div> 
		<label class="header" for="first-name">Please enter your first name <span>*</span></label>
		<input type="text" id="first-name" name="first-name" placeholder="Riley" title="We use your name to personalize your experience." required="required">
	</div>

	<div> 
		<label class="header" for="surname">next, enter your surname <span>*</span></label>
		<input type="text" id="surname" name="surname" placeholder="Smith" title="Your surname is used for registration and lookup purposes." required="required">
	</div>

	<div>	
		<label class="header" for="email">kindly provide us your email <span>*</span></label>
		<input type="email" id="email" name="_replyto" placeholder="your@email.here" title="We use your email to confirm your appointment." required="required">
	</div>
	
	<div>	
		<label class="header" for="phone-number">and a contact number <span>*</span></label>
		<input type="number" id="phone-number" name="phone" placeholder="575 123 4567" title="In the unlikely event that we are unable to secure your preferred appointment a member of the SI team will endeavor to contact you on this number." required="required">
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<label class="header" for="datepicker1">Request date <span>*</span></label>	
			<input id="datepicker1" name="date" placeholder="mm/dd/yyyy" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="required">
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<label class="header timepickerlabel" for="timepicker">and time <span>*</span></label>
			<input type="text" id="timepicker" name="time" placeholder="hh:mm" class="timepicker form-control" value="" required="required">
		</div>	
	</div>

	<div>
		<label class="header">Please indicate which treatment you need <span>*</span></label>
		<ul class="treatment-type" title="Please select a treatment for this booking, so we may expedite your request.">
			<li>
				<input type="radio" id="ciai-option" name="treatment-type" value="Custom Injections and Infusions">
				<label for="ciai-option">Custom Injections &amp; Infusions</label>
				<div class="check"></div>
			</li>
			<li>
				<input type="radio" id="d-option" name="treatment-type" value="Depression">
				<label for="d-option">Depression</label>
				<div class="check"><div class="inside"></div></div>
			</li>
			<li>
				<input type="radio" id="ihae-option" name="treatment-type" value="IV Hydration and Electrolytes">
				<label for="ihae-option">IV Hydration &amp; Electrolytes</label>
				<div class="check"><div class="inside"></div></div>
			</li>
			<li>
				<input type="radio" id="pam-option" name="treatment-type" value="Pain and Migraines">
				<label for="pam-option">Pain &amp; Migraines</label>
				<div class="check"><div class="inside"></div></div>
			</li>
			<li>
				<input type="radio" id="ptsd-option" name="treatment-type" value="PTSD">
				<label for="ptsd-option">PTSD</label>
				<div class="check"><div class="inside"></div></div>
			</li>
			<li>
				<input type="radio" id="vit-option" name="treatment-type" value="Vitamin Infusion Treatment">
				<label for="vit-option">Vitamin Infusion Treatment</label>
				<div class="check"><div class="inside"></div></div>
			</li>
		</ul>
	</div>

	<div>
		<label class="header">Which kind of patient best describes you? <span>*</span></label>
		<ul class="patient-type">
			<li>
				<input type="radio" id="a-option" name="patient-status" value="Registered">
				<label for="a-option">I'm revisiting</label>
				<div class="check"></div>
			</li>
			<li>
				<input type="radio" id="b-option" name="patient-status" value="Non-registered">
				<label for="b-option">This is my first visit</label>
				<div class="check"><div class="inside"></div></div>
			</li>
		</ul>
	</div>

	<div> 
		<label class="header" for="further-notes">Please describe any further notes you wish us to know for your appointment <span>(optional)</span></label>
		<textarea id="further-notes" name="further-notes" placeholder="" title="Briefly summarise any related information you wish to share to provide the SI team a clearer context of how they can meet your therapy needs."></textarea>
	</div>

	<p class="agreement">By using this appointment form, you agree to the use of your provided information so that Statera LLC are able to fulfil your booking process on your behalf. Your privacy and data is important to us, we have secured the transmission of all your information using <abbr id="ssl" title="Secure Sockets Layer">SSL</abbr> encryption.</p>

	<input type="submit" value="Make an appointment">

</form>