<%
//METAdata
companyName = "Statera";
companyURL = "https://www.statera.com";
companyDescription = "description and hashtags strategy 255 char limit";
companyLogoAltText = "Statera Logo";
companyShortTagLine = "Infusion Therapy";
companyLongTagLine = "Infusion Therapy based in local Roswell, New Mexico";
businessSchema = "MedicalBusiness";
businessOwner = "Ian Bicol";
businessType = "MedicalClinic";
businessAddress = ["401","North Union Avenue","Roswell","New Mexico","88201","NM"];
businessCountry = "US";
businessLocation = "401+North+Union+Avenue+Roswell+NM+88201";
businessTelephone = "5756131777";
businessTelephoneTel = "&#40;&#53;&#55;&#53;&#41;&#32;&#54;&#49;&#51;&#32;&#49;&#55;&#55;&#55;";
businessTelephoneObfuscated = "&#55;&#55;&#55;&#49;&#32;&#51;&#49;&#54;&#32;&#40;&#53;&#55;&#53;&#41;";
businessTelephoneLabel = "(575) 613 1777";
businessFax = "18448344911";
businessEmail = "hello@"+ companyName +".com";
//mailto:+hello+@+companyName+.com
businessEmailMailTo = "&#109;&#97;&#105;&#108;&#116;&#111;&#58;"+"&#104;&#101;&#108;&#108;&#111;"+"&#64;"+ companyName +"&#46;&#99;&#111;&#109;";
//businessEmailObfuscated = "hello(at)"+ companyName +".com";
businessEmailObfuscated = "&#109;&#111;&#99;&#46;&#97;&#114;&#101;&#116;&#97;&#116;&#115;&#64;&#111;&#108;&#108;&#101;&#104;";
businessLatitude = "7.0764483";
businessLongitude = "19.0674014";
googleSiteVerification = "googledcc603eaea6d7a50";
googleMapEmbedIframeSrc = "https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d13323.081462884325!2d-104.53826921615905!3d33.403154692598186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d33.4098638!2d-104.5229267!4m5!1s0x86e26ec403e578e1%3A0xc08d900d4e432fe8!2s401+N+Union+Ave%2C+Roswell%2C+NM+88201!3m2!1d33.396446!2d-104.53608899999999!5e0!3m2!1sen!2sus!4v1538197408977";
googleDirections = "https://www.google.com/maps/dir/?api=1&destination=401+North+Union+Avenue+Roswell+NM+88201";

skypeLink = "skype:francisianbicol?chat";
facebookLink = "https://www.facebook.com/staterainfusion";
twitterLink = "https://www.twitter.com/staterainfusion";
linkedinLink = "https://www.linkedin.com/in/socialiteanesthesia";

partnerTitle1 = "Holiday Inn";
partnerLink1 = "https://www.holidayinn.com";
partnerLogo1 = "assets/images/holiday-inn-logo.png";
partnerAltText = "Holiday Inn";

partnerTitle2 = "Advanced Care Card";
partnerLink2 = "https://www.advancedcarecard.com";
partnerLogo2 = "assets/images/ACC-logo.png";
partnerAltText = "Advanced Care Card";

//VDO Background source names (x4 seasons); the following extensions required .mp4/.webm/.jpg for each season filename
spring = "Breezy";
summer = "Forest-9797";
fall = "japanese-maple";
winter = "Snow-motion";

//Dark mode switch
ctaDarkmodeLabel = "illuminate";

//Season mode switch
ctaSeasonmodeLabel = "time travel";

//Tier-1
//Longname for titles
longTitle1 = "About " + companyName;
longTitle1a = "Ian Bicol";
longTitle1b = "Meet the Team";

longTitle2 = "Contact us";

longTitle3 = "Treatments";
longTitle3a = "Depression";
longTitle3b = "Vit. Infusion Treatment";
longTitle3c = "PTSD";
longTitle3d = "Custom Injections &amp; Infusions";
longTitle3e = "Pain &amp; Migraines";
longTitle3f = "IV Hydration &amp; Electrolytes";

longTitle4 = "Finance assist";
longTitle5 = "Help";
longTitle6 = "Providers";
longTitle7 = "Careers";
longTitle8 = "Feedback";

//Shortname for titles
shortTitle1 = "About";
shortTitle2 = "Contact";
shortTitle3 = "Services";
shortTitle4 = "Finance";
shortTitle5 = "FAQs";
shortTitle6 = "Supply";
shortTitle7 = "Jobs";
shortTitle8 = "Survey";

//Navigation classes
navLink1 = "about-us";
navLink2 = "contact-us";
navLink3 = "treatment-options";
navLink4 = "finance-help";
navLink5 = "faqs";
navLink6 = "providers";
navLink7 = "careers";


//Label, Descriptions and Summaries
valuePropText = "Leading the way in therapeutic solutions tailored for our patients recovery and wellbeing needs.";
ctaPrimaryLabel = "Book me";
ctaPrimaryShort = "Book";

//About panel
panel1Heading = "About Statera";
panel1HeadShort = "About";
panel1Summary = "<strong>Lorem ipsum</strong> dolor amet hammock mustache small batch chillwave. Vape listicle seitan post-ironic VHS, godard cold-pressed. Bicycle rights austin gochujang art party kitsch gastropub irony affogato. Tousled poke PBR&B pickled air plant semiotics. Vinyl poke irony mustache activated charcoal man braid selvage fanny pack live-edge la croix microdosing photo booth taxidermy.";

//Booking panel
panel2Heading = "Book an appointment";
panel2HeadShort = "Book";
panel2Intro = "We're here to help you find the treatments to suit your needs. Ready to visit us? go ahead";
panel2Summary = panel2Heading +".";
panel2ConfirmMessage = "Thank you, your booking request has successfully been sent to us. A member of the team will contact you to confirm your booking. If you would like to make another go ahead and";

//Treatments panel
panel3Heading = "Therapy treatments";
panel3HeadShort = "Therapy";
panel3Summary = "Lorem ipsum dolor amet hammock mustache small batch chillwave. Vape listicle seitan post-ironic VHS, godard cold-pressed. Bicycle rights austin gochujang art party kitsch gastropub irony affogato. Tousled poke PBR&B pickled air plant semiotics. Vinyl poke irony mustache activated charcoal man braid selvage fanny pack live-edge la croix microdosing photo booth taxidermy.";

//Finance panel
panel4Heading = "Finance assist";
panel4HeadShort = "Finance";
panel4Summary = "Lorem ipsum dolor amet hammock mustache small batch chillwave. Vape listicle seitan post-ironic VHS, godard cold-pressed. Bicycle rights austin gochujang art party kitsch gastropub irony affogato. Tousled poke PBR&B pickled air plant semiotics. Vinyl poke irony mustache activated charcoal man braid selvage fanny pack live-edge la croix microdosing photo booth taxidermy.";

//Help panel
panel5Heading = "Help";
panel5HeadShort = "Help";
panel5Summary = "When in any doubt you'll form a question, here are few answers that may help you understand what Statera offers patients while getting to grips with common terms used in describing our service. Whether you're new to Infusion therapy or choosing Statera as your preferred service provider; we welcome your individual curiosity.";

//Providers panel
panel6Heading = "Providers";
panel6HeadShort = "Supply";
panel6Summary = "Lorem ipsum dolor amet hammock mustache small batch chillwave. Vape listicle seitan post-ironic VHS, godard cold-pressed. Bicycle rights austin gochujang art party kitsch gastropub irony affogato. Tousled poke PBR&B pickled air plant semiotics. Vinyl poke irony mustache activated charcoal man braid selvage fanny pack live-edge la croix microdosing photo booth taxidermy.";

//Contact panel
panel7Heading = "How to find us?";
panel7HeadShort = "Where";
panel7Summary = "You can find our clinic on the corner of 401 Union Avenue and West 4th Street. There is free parking outside the building for your convenience.";
panel7Label1 = "Monday to Friday";
panel7Summary1 = "3pm - 8pm";
panel7Label2 = "Saturday";
panel7Summary2 = "8am - 8pm";
panel7Label3 = "Sunday";
panel7Summary3 = "by Appointment Only";

//Career content
panel8Heading = "Join the "+ companyName +" Team";

//Feedback content
panel9Heading = "We invite you to share your experience with "+ companyName;

//Tickertape for Twitter
twitckerScriptName = "leighlaguisma";

%>