<article class="career-content">	
	<header>
		<h3 class="heading"><%= panel8Heading %></h3>
	</header>
	<div class="descriptor"><%- include('career'); %></div>
</article>
<article class="feedback-content">	
	<header>
		<h3 class="heading"><%= panel9Heading %></h3>
	</header>
	<div class="descriptor"><%- include('feedback-form'); %></div>
</article>