<div class="row">
								<address class="office-address col-12 col-sm-6">
									<p><strong>Our full address is:</strong><br /><%= businessAddress[0] %> <%= businessAddress[1] %>,<br /><%= businessAddress[2] %>,<br /><%= businessAddress[3] %><br /><%= businessAddress[4] %><br /></p>
								</address>
								<div class="opening-times col-12 col-sm-6">
									<table>
										<thead>
											<tr>
												<th colspan="2"><strong>Our opening times:</strong></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row"><%= panel7Label1 %></th>
												<td><%= panel7Summary1 %></td>
											</tr>
											<tr>
												<th scope="row"><%= panel7Label2 %></th>
												<td><%= panel7Summary2 %></td>
											</tr>
											<tr>
												<th scope="row"><%= panel7Label3 %></th>
												<td><%= panel7Summary3 %><br /><br /></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>For general enquiries:</strong><br />
									Email us at <a href="<%- businessEmailMailTo %>"><%- businessEmailObfuscated %></a><br />
									or call us on <a href="tel:<%- businessTelephoneTel %>"><%- businessTelephoneObfuscated %></a></p>
								</div>
							</div>