						<div id="qanda-list">
							<label class="header" for="qanda-query">Find answers by:</label> 
							<input type="text" class="search qanda-query" id="qanda-query" name="qanda-query" placeholder="typing your keyword(s)" value="">
							<ul class="list">
								<li>
									<h3 class="question">How do I get to the clinic?</h3>
									<p class="answer">Statera Clinic address is in Roswell New Mexico on the corner of 4th W Street and North Union Avenue. Checkout our <a class="questions-link jumptomap" href="#googlemap">map for directions</a>.</p>
								</li>
								<li>
									<h3 class="question">How do I change my appointment?</h3>
									<p class="answer">Give us a call on <a class="questions-link" href="tel:<%- businessTelephoneTel %>"><%- businessTelephoneObfuscated %></a>, as soon as possible, to amend your appointment.</p>
								</li>
								<li>
									<h3 class="question">How long does it take to get a response from booking an appointment?</h3>
									<p class="answer">We endeavor to respond to queries within 24hrs of receiving your request, if you require treatments within a 24hr period we strongly suggest contacting us on <a class="questions-link" href="tel:<%- businessTelephoneTel %>"><%- businessTelephoneObfuscated %></a>.</p>
								</li>
							</ul>
						</div>