<form action="https://formspree.io/<%= businessEmail %>" method="POST">
	<input type="hidden" name="_subject" value="<%= companyName %> feedback" />
	<input type="hidden" name="_next" value="?mode=thankyou#feedback" />

	<ol class="container fb-form-layout" type="1">
		<!-- <li>
			<label for="first-name-fb">Please enter your first name <span>*</span></label>
			<input type="text" id="first-name-fb" name="first-name-fb" placeholder="Riley" title="We use your name to identify your feedback." required="required">
		</li>
		<li>
			<label for="surname-fb">next, enter your surname <span>*</span></label>
			<input type="text" id="surname-fb" name="surname-fb" placeholder="Smith" title="Your surname is used to identify your feedback." required="required">
		</li> -->
		<li class="emoji-feedback"><label for="mood-type">Please indicate how you felt about our service today <span>*</span></span></label>
			<ul class="row">
				<li class="col-4">
					<input type="radio" id="happy-option" name="mood-type" value="Happy">
					<label for="happy-option">🙂 Happy</label>
					<div class="check"></div>
				</li>
				<li class="col-4">
					<input type="radio" id="angry-option" name="mood-type" value="Disappointed">
					<label for="angry-option">🙁 Disappointed</label>
					<div class="check"></div>
				</li>
				<li class="col-4">
					<input type="radio" id="sad-option" name="mood-type" value="Sad">
					<label for="sad-option">😞 Sad</label>
					<div class="check"></div>
				</li>
			</ul>
		</li>
		<li><label for="customer-notes">Please describe your experience with <%= companyName %> services. <span>(encouraged)</span></label>
			<ul class="row">
				<li class="col-12">
					<textarea id="customer-notes" name="customer-notes" placeholder="" title="Sharing of your experience helps our visitors and the <%= companyName %> team improve on our services, your help is greatly appreciated."></textarea>
				</li>
				<li class="col-12">
					<p class="agreement">By using this feedback form, you agree to the use of your provided information so that Statera LLC are able to improve on their service. Your privacy and data is important to us, we have secured the transmission of your message using <abbr id="ssl-fb" title="Secure Sockets Layer">SSL</abbr> encryption.</p>
					<input type="submit" value="Share your view">
				</li>
			</ul>
		</li>
	</ol>
</form>