<p>Gentrify keffiyeh gochujang, cronut pour-over snackwave photo booth jianbing fixie godard adaptogen quinoa locavore messenger bag coloring book. Flannel cray swag synth woke. Direct trade church-key health goth master cleanse hexagon. Pitchfork mumblecore af trust fund try-hard.</p>

<p>
	<!-- Begin Advance Care Card Link -->
	<a rel="noreferrer noopener" href="https://www.advancecarecard.com/" target="_blank"><img src="https://www.advancecarecard.com/images/APFCard_Button.gif" rel="noreferrer noopener" alt="Advance Care Card - Apply Today!" defer/></a>
	<!-- End Advance Care Card Link -->
</p>