<!-- footer script partial exposed to ejs variable injection -->
<script>
	//set path to seasonal media with filename
	var spring = "<%= spring %>";
	var summer = "<%= summer %>";
	var fall = "<%= fall %>";
	var winter = "<%= winter %>";

	//create source tag
	$('#bgvid').append('<source class="mp4" type="video/mp4"><source class="webm" type="video/webm">');

	//apply season
	function updateBackground(season, filename) {
		var video = document.getElementById('bgvid');

		$('html').addClass(season);
		$('.season-mode').addClass(season+'time');

		$('#bgvid').attr({poster: 'assets/vdo/'+filename+'.jpg'});

		$('.mp4').attr({src: 'assets/vdo/'+filename+'.mp4'});
		$('.webm').attr({src: 'assets/vdo/'+filename+'.webm'});
		$('.twitter-card').attr('content', '<%= companyURL %>/assets/vdo/'+filename+'.jpg');

		video.autoplay = true;
		video.load();

		// $('#bgvid').html('<source class="webm" src="assets/vdo/'+filename+'.webm" type="video/webm"><source class="mp4" src="assets/vdo/'+filename+'.mp4" type="video/mp4">').attr('poster', 'assets/vdo/'+filename+'.jpg');
	}

	//3d-menu
	//twitter
	$('.icon-twitter').on('click', function(){
		window.open('<%- twitterLink %>','_blank');
	});

	$('.icon-linkedin').on('click', function(){
		window.open('<%- linkedinLink %>','_blank');
	});
	
	//skype
	$('.icon-skype').on('click', function(){
		window.open('<%- skypeLink %>','_blank');
	});

	//email
	$('.icon-mail').on('click', function(){
		window.open('mailto:<%- businessEmail %>','_blank');
	});

	

	

</script>
<script src="assets/js/listjs/list.min.js" defer></script>
<script src="assets/js/app.min.js" defer></script>
<script src="assets/js/wickedpicker/js/jquery-ui.min.js" defer></script>
<script src="assets/js/wickedpicker/js/wickedpicker.min.js" defer></script>
<!-- For legacy browsers include a Promise polyfill like es6-promise before including jsonld.js -->
<script src="https://cdn.jsdelivr.net/g/es6-promise@1.0.0" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsonld/0.4.12/jsonld.min.js" defer></script>
<script src="https://platform.linkedin.com/badges/js/profile.js" defer></script>

<script>
	if ('serviceWorker' in navigator) {
		window.addEventListener('load', function() {
			navigator.serviceWorker.register('/sw.js').then(function(registration) {
	  		// Registration was successful
			console.log('ServiceWorker registration successful with scope: ', registration.scope);
			}, function(err) {
	  			// registration failed :(
	  			console.log('ServiceWorker registration failed: ', err);
			});
  		});
	}

	//Calculate height of class descriptor to set height for vertical scrollbar
	var setHeightMode = function(){
		var resetHeight = $('aside .context-viewer article.display--content .descriptor').css('height','auto');
		var asideHeight = $('aside').outerHeight();
		var closeButtonHeight = $('.close-button').outerHeight();
		var titleHeight = $('.context-viewer h2').outerHeight();
		var summaryHeight = $('.context-viewer article.display--content header').outerHeight();

		var getAsideOffset = parseInt(asideHeight - closeButtonHeight - titleHeight - summaryHeight - 63)+"px";
		var asideOffSet = ($('.context-viewer article').hasClass('display--content')) ? $('aside .context-viewer article.display--content .descriptor').css('height', getAsideOffset) : resetHeight;

		//output values in debug mode
		if (debug) {
			console.log('Aside outerHeight is: '+ asideHeight);
			console.log('Close button outerHeight is: '+ closeButtonHeight);
			console.log('Title height is: '+ titleHeight);
			console.log('Summary height is: '+ summaryHeight);
			console.log('total height combined except Aside is: '+ (closeButtonHeight + titleHeight + summaryHeight));
			console.log('Offset (Descriptor scroll height) is: '+ (asideHeight - closeButtonHeight - titleHeight - summaryHeight));
			console.log("Descriptor scrolling height is: "+ asideOffSet);
		}
	}

	//execute function on page load
	window.addEventListener('load', function(){
		setHeightMode();
	});

	//execute function on page resize
	window.addEventListener('resize', function(){
		setHeightMode();
	});

	// document.addEventListener("touchstart", function(e) {
	// 	console.log(e.defaultPrevented);  // will be false
	// 	e.preventDefault();   // does nothing since the listener is passive
	// 	console.log(e.defaultPrevented);  // still false
	// }, Modernizr.passiveeventlisteners ? {passive: true} : false);

</script>