<div class="container-fluid credits">
	<div role="menu" class="row">
		<div class="col-4">
			<ul role="menu">
				<li role="menuitem"><a class="menu-link depression-button" href="#depression"><%- longTitle3a %></a></li>
				<li role="menuitem"><a class="menu-link vit-button" href="#infusion"><%- longTitle3b %></a></li>
				<li role="menuitem"><a class="menu-link ptsd-button" href="#ptsd"><%- longTitle3c %></a></li>
				<li role="menuitem"><a class="menu-link injection-button" href="#injection"><%- longTitle3d %></a></li>
				<li role="menuitem"><a class="menu-link pain-button" href="#pain"><%- longTitle3e %></a></li>
				<li role="menuitem"><a class="menu-link iv-button" href="#iv"><%- longTitle3f %></a></li>
			</ul>
		</div>
		<div class="col-4">
			<ul role="menu" itemscope itemtype="https://schema.org/<%= businessSchema %>">
				<li role="menuitem"><a class="menu-link about-button" href="#about-us"><%= longTitle1 %></a></li>
				<li role="menuitem"><a class="menu-link staff-button" href="#staff"><%= longTitle1b %></a></li>
				<li role="menuitem"><a class="menu-link careers careers-button" href="#careers"><%= longTitle7 %></a></li>
				<li role="menuitem"><a class="menu-link questions-button" href="#questions"><%= shortTitle5 %></a></li>
				<li role="menuitem"><a class="menu-link finance-button" href="#finance"><%= shortTitle4 %></a></li>
				<li role="menuitem"><a class="menu-link provider-button" href="#providers"><%= longTitle6 %></a></li>
				<li role="menuitem"><a class="menu-link feedback feedback-button" href="#feedback"><%= longTitle8 %></a></li>
			</ul>
		</div>
		<div class="col-4">
			<ul role="menu" class="inline-list">
				<li role="menuitem"><a aria-label="<%= partnerTitle1 %>" href="<%= partnerLink1 %>" class="menu-link partner-1-button new-window" target="_blank" id="partner1" title="<%= partnerTitle1 %> in new window" rel="noreferrer"><img src="<%= partnerLogo1 %>" alt="<%= partnerAltText %>" defer></a></li>
				<li role="menuitem"><a aria-label="<%= partnerTitle2 %>" href="<%= partnerLink2 %>" class="menu-link partner-2-button new-window" target="_blank" id="partner2" title="<%= partnerTitle2 %> in new window" rel="noreferrer"><img src="<%= partnerLogo2 %>" alt="<%= partnerAltText %>" defer></a></li>
			</ul>
		</div>  
	</div>
</div>
<div class="copyline"><span class="copyright"><span class="custom-font">Statera</span> &copy;<%= new Date().getFullYear(); %></span> <%= businessAddress[0] %> <%= businessAddress[1] %>,<br /><%= businessAddress[2] %>, <%= businessAddress[5] %> <%= businessAddress[4] %>.<br /><a href="tel:<%- businessTelephoneTel %>"><%- businessTelephoneObfuscated %></a> </div>
<div class="social-channels">
	<ul class="list-unstyled list-inline social-menu"><li class="menuitem"><a aria-label="Get directions" itemprop="hasMap" href="<%= googleDirections %>" class="gps-location new-window" target="_blank" id="find-us" title="Directions in new window" rel="noreferrer noopener"><span>Get directions</span></a></li><li class="menuitem"><a aria-label="Follow us on Facebook" href="<%= facebookLink %>" class="facebook new-window" target="_blank" id="fb" title="Facebook in new window" rel="noreferrer noopener"><span>Follow us</span></a></li><li class="menuitem"><a aria-label="Tweet us" href="<%= twitterLink %>" class="twitter new-window" target="_blank" id="tw" title="Twitter in new window" rel="noreferrer noopener"><span>Tweet us</span></a></li></ul>
</div>
<div class="supergui-signature"><a href="https://www.supergui.co" rel="noreferrer noopener" class="new-window" target="_blank" id="supergui" title="Designers portfolio in new window">a supergui development</a></div>