<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- header script partial exposed to ejs variable injection -->
<script>
$(function(){
	//Check viewport width
	var chkWidth = function(){
		var viewportWidth = $(window).width();
		(debug) ? console.log(viewportWidth) : null;

		(viewportWidth <= 767) ? console.log('mobile mode') : console.log('desktop mode');
		(viewportWidth <= 767) ? $('.navbar-nav > li').removeClass('dropdown') : $('navbar-nav li').addClass('dropdown-toggle');
		(viewportWidth >= 767) ? $('label[for="happy-option"]').html('🙂 Happy') && $('label[for="angry-option"]').html('🙁 Disappointed') && $('label[for="sad-option"]').html('😞 Sad') : null;
		(viewportWidth <= 411) ? console.log('shortname mode') : console.log('ellipsis mode');
		(viewportWidth <= 411) ? $('html').addClass('shortname') : $('html').removeClass('shortname');
		(viewportWidth >= 509 && viewportWidth <= 767) ? $('label[for="happy-option"]').html('🙂 Happy') && $('label[for="angry-option"]').html('🙁 Mad') && $('label[for="sad-option"]').html('😞 Sad') : null;
		(viewportWidth <= 508) ? $('label[for="happy-option"]').html('🙂') && $('label[for="angry-option"]').html('🙁') && $('label[for="sad-option"]').html('😞') : null;

	};

	var abandonBurger = function(){
		var vpw = $(window).width();
		(debug) ? console.log('VPW is: '+ vpw) : null;
		var asideStatus = $('aside').attr('class');
		(debug) ? console.log('asideStatus is: '+ asideStatus) : null;

		if (vpw >=767 && $('aside').hasClass('active')) {
			$('.hamburger').addClass('collapsed');
			$('.hamburger').attr('aria-expanded','false');
			$('.navbar-collapse').removeClass('in');
			$('.navbar-collapse').attr({'aria-expanded':'false','style':''});
		} else if (vpw >=767 && $('aside').hasClass('inactive')) {
			$('body').removeClass('disable-scroll');
			$('.mask').removeClass('display-mask'); 
			$('.mask').removeClass('z-index-4'); 
			$('.hamburger').addClass('collapsed');
			$('.hamburger').attr('aria-expanded','false');
			$('.navbar-collapse').removeClass('in');
			$('.navbar-collapse').attr({'aria-expanded':'false','style':''});
		};
	};

	//reset menu label when resizing back to desktop
	var resetMenuLabels = function(){
		var targetMenu = $('.nav-item');
		var targetCount = $('.nav-item').length;
		var targetLabels = ['<%= longTitle1 %>','<%= longTitle2 %>','<%= ctaPrimaryLabel %>','<%= longTitle3 %>','<%= longTitle4 %>','<%= longTitle5 %>','<%= longTitle6 %>','<%= longTitle7 %>'];

		$('.nav-link.<%= navLink1 %>').html(targetLabels[0]);
		$('.nav-link.<%= navLink2 %>').html(targetLabels[1]);
		$('.nav-link.<%= navLink3 %>').html(targetLabels[3]);
		$('.nav-link.<%= navLink4 %>').html(targetLabels[4]);
		$('.nav-link.<%= navLink5 %>').html(targetLabels[5]);
		$('.nav-link.<%= navLink6 %>').html(targetLabels[6]);
		$('.nav-link.<%= navLink7 %>').html(targetLabels[7]);
	};

	var shortNameMode = function(){
		($(window).width() < 753) ? $('html').addClass('shortname') && $('.nav-link').removeClass('dropdown-toggle').html('') && $('.nav-item').removeClass('dropdown') && $('.nav-item:nth-child(10)').addClass('fadeInUp') && $('.nav-item:nth-child(10)').removeClass('fadeInLeft') && $('.collapse.navbar-collapse').addClass('container') && $('.nav').addClass('row') && $('.row .nav-item').addClass('col-2') && $('.gps-location span').html('Visit') && $('.facebook span').html('Follow') && $('.twitter span').html('Tweet') : null;

		($(window).width() > 752) ?  $('html').removeClass('shortname') && $('.nav-item:nth-child(2)').addClass('dropdown') && $('.nav-item:nth-child(5)').addClass('dropdown') && $('.nav-item:nth-child(10)').removeClass('fadeInUp') && $('.nav-item:nth-child(10)').addClass('fadeInLeft') && $('.collapse.navbar-collapse').removeClass('container') && $('.nav').removeClass('row') && $('.nav-item').removeClass('col-2') && $('.about-us, .treatment-options').addClass('dropdown-toggle') && $('.gps-location span').html('Get directions') && $('.facebook span').html('Follow us') && $('.twitter span').html('Tweet us') && resetMenuLabels() : null;
	};

	$(window).on('load', function(){
		shortNameMode();
	});

	//execute viewport and shortname mode on resize
	$(window).resize(function(){
		chkWidth();
		abandonBurger();
		shortNameMode();
	});
});
</script>