<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="<%= companyName %> - <%= companyDescription %>">
		<meta name="keywords" content="<%= companyName %> - common keyword search">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image:alt" content="<%= companyName %> - <%= companyLogoAltText %>">
		<meta name="twitter:image" class="twitter-card" content="Indexable thumbnail of <%= companyName %> website url">
		<meta name="twitter:site" content="@<%= companyName %>">
		<meta name="twitter:creator" content="@<%= companyName %>">
		<meta name="twitter:title" content="<%= companyName %> - <%= companyShortTagLine %>">
		<meta name="twitter:description" content="<%= valuePropText %>">

		<meta property="og:title" content="<%= companyName %> - <%= companyLongTagLine %>">
		<meta property="og:description" content="<%= valuePropText %>">
		<meta property="og:type" content="website">
		<meta property="og:url" content="<%= companyURL %>">
		<meta property="og:site_name" content="<%= companyName %>">
		<meta property="og:locale" content="en_US">
		<meta property="og:image" content="<%= companyURL %>/<%= companyName %>-logo.png">
		<meta name="google-site-verification" content="<%= googleSiteVerification %>">
		<meta name="author" content="Leigh Laguisma">
		<meta name="theme-color" content="#c59b4f"/>
		<title><%= companyName %></title>
		<link href="favicon.ico?V=1" rel="shortcut icon">
		<script async src="https://cdn.rawgit.com/GoogleChrome/pwacompat/v2.0.1/pwacompat.min.js" defer></script>
		<link rel="canonical" href="https://hbm.supergui.co">
		<link rel="icon" href="icon-512.png" sizes="512x512">
		<link rel="icon" href="icon-256.png" sizes="256x256">
		<link rel="icon" href="icon-128.png" sizes="128x128">
		<link rel="icon" href="icon-64.png" sizes="64x64">
		<link rel="icon" href="icon-32.png" sizes="32x32">
		<link rel="apple-touch-icon" href="icon-192.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/css/wickedpicker/css/style.min.css" defer>
		<link rel="stylesheet" href="assets/css/wickedpicker/css/wickedpicker.min.css" defer>
		<link rel="stylesheet" href="assets/css/wickedpicker/css/jquery-ui.min.css" defer>
		<link rel="stylesheet" href="assets/css/app.min.css" defer>
		<link rel="stylesheet" href="assets/fonts/<%= companyName %>-icons.ttf?1lm5x9" type="font/ttf" crossorigin="anonymous">
		<link rel="preload" href="assets/fonts/TrajanPro.ttf?1lm5x9" as="font" type="font/ttf" crossorigin="anonymous" async>
		<link rel="preconnect" href="https://static.licdn.com" crossorigin="anonymous">
		<link rel="preconnect" href="https://media.licdn.com" crossorigin="anonymous">
		<link rel="preconnect" href="https://google.com" crossorigin="anonymous">
		<link rel="dns-prefetch" href="https://maps.gstatic.com" crossorigin="anonymous" passive>
		<link rel="preload" href="https://badges.linkedin.com" as="style" async>
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<script type="application/ld+json">
			{	"@context": "https://schema.org/<%= businessSchema %>",
				"@type": "LocalBusiness",
				"url": "<%= companyURL %>",
				"businessType": "<%= businessType %>",   
				"businessName": "<%= companyName %>",
				"businessOwner": {
					"@type": "Person",
					"name": "<%= businessOwner %>"
				},
				"brand": {
					"logo": "<%= companyURL %>/<%= companyName %>-logo.png",
					"image": "<%= companyURL %>/<%= companyName %>-picture.png"
				},
				"address": {
					"@type": "Business",
					"streetAddress": "<%= businessAddress[0] %> <%= businessAddress[1] %>",
					"addressLocality": "<%= businessAddress[2] %>",
					"addressRegion": "<%= businessAddress[3] %>",
					"postalCode":"<%= businessAddress[4] %>",
					"addressCountry": "<%= businessCountry %>",
					"telephone": "<%= businessTelephone %>",
					"fax": "<%= businessFax %>"
				},
				"sameAs" :	[	"https://www.facebook.com/<%= companyName %>", 
								"https://www.twitter.com/<%= companyName %>"
							],
				"name": "<%= companyName %>",
				"description": "<%= companyName %> - <%= companyDescription %>",
				"telephone": "<%= businessTelephone %>",
				"openingHours": [	"Mo,Tu,We,Th,Fr 15:00-20:00",
									"Sa 08:00-20:00",
									"Su By Appointment Only"
								],
				"map": "https://www.google.com/maps/dir/?api=1&destination=<%= businessLocation %>",
				"geo": {
					"@type": "GeoCoordinates",
					"latitude": "<%= businessLatitude %>",
					"longitude": "<%= businessLongitude %>"
				"potentialAction": {
					"@type": "SearchAction", 
					"target": "<%= companyURL %>/?s={search_term}", 
					"query-input": "required name=search_term" 
				},
				"publisher": "SuperGUi.Co LLC",
				"author": {
					"@type": "Person",
					"name": "Leigh Laguisma"
				}
				
			}
		</script>
		<link rel="manifest" href="manifest.json">