<nav class="navbar fixed-top navbar-expand-md navbar-inverse">
	<button class="navbar-toggler collapsed hamburger hamburger--arrow" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar">
			<span class="icon-bar">
				<span class="icon-bar"></span>
			</span>
		</span>
	</button>

	<div class="collapse navbar-collapse">
		<ul role="menubar" class="nav navbar-nav row">
			<li role="menuitem" class="menulogo"></li>
			<li role="menuitem" class="nav-item dropdown">
				<a class="nav-link dropdown-toggle about-us about-button" href="#about-us" id="aboutUsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-label="<%= panel1Heading %>" aria-expanded="false"><%= panel1Heading %></a>
				<ul class="dropdown-menu" aria-labelledby="aboutUsDropdown">
					<li class="dropdown-item" role="menuitem"><a class="ian-button" href="#ian-bicol" aria-label="<%= longTitle1a %>"><%= longTitle1a %></a></li>
					<li class="dropdown-item" role="menuitem"><a class="staff-button" href="#staff" aria-label="<%= longTitle1b %>"><%= longTitle1b %></a></li>
				</ul>
			</li>
			<li role="menuitem" class="nav-item"><a class="nav-link contact-us contact-button" href="#contact-us" aria-label="<%= longTitle2 %>"><%= longTitle2 %></a></li>
			<li role="menuitem" class="nav-item"><a class="nav-link booking-form d-block d-sm-none bookme-button" href="#booking" aria-label="<%= ctaPrimaryLabel %>"><%= ctaPrimaryLabel %></a></li>
			<li role="menuitem" class="nav-item dropdown">
				<a class="nav-link dropdown-toggle treatment-options treatment-button" href="#treatment-services" id="treatmentsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-label="<%= longTitle3 %>" aria-expanded="false"><%= longTitle3 %></a>
				<ul class="dropdown-menu" aria-labelledby="treatmentsDropdown">
					<li class="dropdown-item" role="menuitem"><a class="depression-button" href="#depression" aria-label="<%= longTitle3a %>"><%= longTitle3a %></a></li>
					<li class="dropdown-item" role="menuitem"><a class="vit-button" href="#infusion" aria-label="<%= longTitle3b %>"><%= longTitle3b %></a></li>
					<li class="dropdown-item" role="menuitem"><a class="ptsd-button" href="#ptsd" aria-label="<%= longTitle3c %>"><%= longTitle3c %></a></li>
					<li class="dropdown-item" role="menuitem"><a class="injection-button" href="#injection" aria-label="<%- longTitle3d %>"><%- longTitle3d %></a></li>
					<li class="dropdown-item" role="menuitem"><a class="pain-button" href="#pain" aria-label="<%- longTitle3e %>"><%- longTitle3e %></a></li>
					<li class="dropdown-item" role="menuitem"><a class="iv-button" href="#iv" aria-label="<%- longTitle3f %>"><%- longTitle3f %></a></li>
				</ul>
			</li>
			<li role="menuitem" class="nav-item"><a class="nav-link finance-help finance-button" href="#finance" aria-label="<%= longTitle4 %>"><%= longTitle4 %></a></li>
			<li role="menuitem" class="nav-item"><a class="nav-link faqs questions-button" href="#questions" aria-label="<%= longTitle5 %>"><%= longTitle5 %></a></li>
			<li role="menuitem" class="nav-item"><a class="nav-link providers providers-button" href="#providers" aria-label="<%= longTitle6 %>"><%= longTitle6 %></a></li>
			<li role="menuitem" class="nav-item"><a class="nav-link careers careers-button" href="#careers" aria-label="<%= longTitle7 %>"><%= longTitle7 %></a></li>
			<li role="menuitem" class="menubutton animated fadeInUp"><button class="bookme-float-button" aria-label="<%=ctaPrimaryLabel%>"><%=ctaPrimaryLabel%></button></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>