<!-- style partial exposed to ejs variable injection -->
<style>
	.menulogo:after { content: "<%= companyName %>"; }
	.shortname .navbar-nav li a.nav-link.about-us:after { content: "<%= shortTitle1 %>"; }
	.shortname .navbar-nav li a.nav-link.contact-us:after { content: "<%= shortTitle2 %>"; }
	.shortname .navbar-nav li a.nav-link.treatment-options:after { content: "<%= shortTitle3 %>"; }
	.shortname .navbar-nav li a.nav-link.finance-help:after { content: "<%= shortTitle4 %>"; }
	.shortname .navbar-nav li a.nav-link.faqs:after { content: "<%= shortTitle5 %>"; }
	.shortname .navbar-nav li a.nav-link.providers:after { content: "<%= shortTitle6 %>"; }
	.shortname .navbar-nav li a.nav-link.careers:after { content: "<%= shortTitle7 %>"; }
	.shortname .navbar-nav li a.nav-link.booking-form:after { content: "<%= ctaPrimaryShort %>"; }
	.partner-1-button:before { content: "<%= partnerTitle1 %>"; }
	.booking .booking-text:before { content: "<%- panel2Intro %> "; }
	.booking .thankyou .booking-text:before { content: "<%= panel2ConfirmMessage %> "; }

	@media screen and (max-width: 600px) {
		.spring{ background-image: url(assets/vdo/<%= spring %>.jpg); }
		.summer{ background-image: url(assets/vdo/<%= summer %>.jpg); }
		.fall{ background-image: url(assets/vdo/<%= fall %>.jpg); }
		.winter{ background-image: url(assets/vdo/<%= winter %>.jpg); }
	}

	@media screen and (max-width: 767px) {
		.cta-tray ul[role=menubar] .menubutton .feedback-button:after { content: "<%= longTitle8 %>"; }
	}
</style>