.three-d-menu {
	height: 430px;
	position: fixed;
	right: 86px;
	top: 86px;
	z-index: 5;

	.skills {

		h2 { display: none; }

		ul li {
			color: $color-mid-grey;
			height: $cube-size;
			line-height: $cube-size;
			list-style-type: none;
			margin: $cube-gap;
			width: $cube-size;
			
			&.wrap {
				perspective: 800px;
				perspective-origin: 0% 76px;
				
				&:nth-child(1) ul.cube { animation: spin 15s infinite linear; }
				&:nth-child(2) ul.cube { animation: spin 10s infinite linear; }
				&:nth-child(3) ul.cube { animation: spin 5s infinite linear; }

				ul.cube {
					transform-style: preserve-3d;
					
					&:hover { @include add-prefix-value (animation-play-state, paused) }

					li {
						border: 1px solid $color-light-grey;
						font-size: $size-1-75em-fontsize;
						line-height: 2.6;
						position: absolute;
						text-align: center;
						
						&:hover { cursor: pointer; }

						a {
							height: $cube-size;
							position: absolute;
							width: $cube-size;
						}

						&.back,
						&.right,
						&.left,
						&.front { 
							&:hover { color: $color-3d-highlight; }
						}

						&.back { transform: translateZ(-40px) rotateY(180deg); }

						&.right {
							transform: rotateY(-270deg) translateX(40px);
							transform-origin: top right;
						}

						&.left {
							transform: rotateY(270deg) translateX(-40px);
							transform-origin: center left;
						}

						&.top {
							transform: rotateX(-90deg) translateY(-35px);
							transform-origin: top center;
						}

						&.bottom {
							transform: rotateX(90deg) translateY(40px);
							transform-origin: bottom center;
						}

						&.front { transform: translateZ(36px); }
					}
				}
			}
		}
	}
}