.offscreen {
  border-radius: 4px;
  font-family: $font-secondary;
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
  z-index: 2000;
  
  &:active,
  &:focus,
  &:hover { 
    background-color: #16a085;
    border: none;
    border-radius: 4px;
    color: $color-white;
    height: auto;
    left: 8px;
    outline: none;
    overflow: visible;
    padding: 15px;
    position: fixed; 
    text-decoration: none;
    top: 8px;
    width: auto;
  }

  &:focus::after { right: -20px; }
}