.mask {
	display: none;
	height: 101.25%;
	width: 100%;
	position: absolute;
	top: 0;
	margin-top: -50px;
	margin-bottom: -50px;
	z-index: 9999;
	left: 0;
	background: $color-black-80 url(../images/filter.png) repeat;

	&.display-mask { display: block; }
}

aside {
	background: rgba($color-aside,.8) url(../images/float.webp) no-repeat center center;
	background-size: cover;
	background-blend-mode: exclusion;
	bottom: -1093px;
	border-radius: 4px;
	color: $card-text !important;
	display: none;
	height: 90%;
	left: (20%/2);
	position: fixed;
	width: 80%;
	z-index: 9999;
	
	@include add-prefix-value (clip-path, polygon(0 66px,100% 0,100% 100%,0 100%));
	
	&.open-careers-context,
	&.open-feedback-context {
		bottom: -1070px;
		padding: 16px 13px;
				
		@include add-prefix-value (transition, all .5s ease-out);
		
		.close-button { display: none; }	
	}

	&.careers--resize,
	&.feedback--resize {
		animation: float 5s ease-out infinite normal;
		bottom: 16px;
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		display: block;
		padding: 16px 13px;
		
		@include add-prefix-value (transform, translateY(0px));
		@include add-prefix-value (transition, all .5s ease-in);
		
		.close-button { display: block; }
	}

	.career-content,
	.feedback-content { 
		display: none;
		
		&.display--content { display: block; }
	}

	.close-button {
		position: relative;
		text-align: right;
		z-index: 10000;
		
		&:before {
			border: 6px solid $color-white-50;
			border-radius: 32px;
			color: $color-white;
			content: "↓";
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
			padding: 11px 17px;
		}

		&:hover { cursor: pointer; }
	}

	.context-viewer {
		padding: 0 $guttering-desktop-LR;
		
		h2 { 
			color: $color-white;
			padding-top: 11%;
		}
		
		header {
			padding: 0;
			
			h3 { 
				color: $card-text;
				font-family: $font-secondary;
				font-weight: normal;
				font-size: $font-size-informal-h3;
				letter-spacing: 1px;
				margin: 8px 0 16px;
			}
		}

		.descriptor {
			height: 336px;
			overflow-x: hidden;
			overflow-y: auto;
			scrollbar-color: $color-white transparent;
			scrollbar-width: thin;
			
			::-webkit-scrollbar-track,
			::-webkit-scrollbar-track-piece { background: transparent; }
			
			::-webkit-scrollbar-thumb {
				background: $color-white-50;
				border-radius: 4px;
				
				&:hover { background: $color-white; }
			}
			
			p { 
				color: $color-white;
				font-family: $font-secondary;
			}
		}

		.feedback-content {
			font-family: $font-secondary;
			
			@include add-prefix-value (transition, all .5s);
			
			.fb-form-layout {
				counter-reset: counter-index;
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				margin: 0;
				padding: 0;
				
				> li { 
					counter-increment: counter-index;
					letter-spacing: -1px;
					position: relative;
					width: 100%;
					
					&::before {
						content: counter(counter-index) ".";
						display: inline-flex;
						left: 0;
						line-height: 1.2;
						position: absolute;
					}

					> label {
						line-height: 1.2;
						padding-left: 20px;
					}
				}
				
				> li,
				> li::before,
				> li label { 
					font-family: $font-cursive-medium;
					font-size: $base-fontsize;
				}

				> li.emoji-feedback > .row li {
					align-items: center;
					display: flex;
					justify-content: center;
					margin-bottom: 16px;
				}
				
				label {
					color: $color-white;
					height: auto;
					letter-spacing: -1px;
					margin: 0 0 8px 0;
					text-transform: inherit;
					vertical-align: top;
					width: 100%;
					
					span { 
						font-weight: normal;
						text-shadow: $left-corner-shadow, $right-corner-shadow;
					}
				}

				input[type="radio"] ~ label {
					background-color: transparent;
					border: 2px solid $color-white;
					border-radius: 30px;
					color: $color-white;
					font-family: $font-secondary;
					font-size: $size-09em-fontsize;
					height: 40px;
					letter-spacing: normal;
					margin-left: 0;
					margin-top: 0;
					padding: 3px 0;
					text-align: center;
					width: 160px;
					
					&:before {
						content: "";
						margin-right: 0;
					}
				}

				input[type="radio"]:checked ~ label { background-color: rgba(0, 0, 0, 0.5); }

				input[type="radio"]:checked ~ .check { border: 2px solid $color-white; }

				.check { display: none; }

				input#first-name-fb,
				input#surname-fb, 
				textarea#customer-notes {
					background-color:rgba(0, 0, 0, 0.5);
					border: none;
					border-bottom: 1px solid $color-white-50;
					color: $color-white;
					font-family: $font-secondary;
					font-size: $icon-15px-fontsize;
					font-weight: normal;
					height: 40px;
					letter-spacing: 0;
					padding: 8px 16px;
					outline: none;
					text-align: initial;
					width: 100%;
					
					&:active, &:visited { color: $color-white; }
				}

				input#first-name-fb, 
				input#surname-fb { 
					border-radius: 24px;
					margin-bottom: 16px;
				}
				
				textarea#customer-notes {
					border-radius: 12px;
					height: 105px;
					margin-bottom: 8px;
				}
				
				input[type="submit"] {
					border-radius: 24px;
					box-shadow: $neumorphism-shadow;
					float: right;
					margin: 8px;
					padding: 11px 32px 12px;
					width: auto;
				}
			}
		}
	}
}

.cta-tray .display--content { display: block; }