.bookme-button, .bookme-float-button {
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid $color-dark-grey;
	box-shadow: $elevation-1p;
	display: block;
	font-family: $font-secondary;
	font-size: $size-085em-fontsize;
	font-weight: bold;
	line-height: 19px;
	margin: 5px;
	outline: none;
	padding: 10px 15px;
	
	@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));
	
	&:hover, &:focus {
		color: $color-white;
		cursor: pointer;
		background: $color-black;
		box-shadow: $highlight-4p;
		margin: 0 auto;
		outline-width: 0;
		padding: 10px 30px;
		
		@include add-prefix-value (transition, 0.5s all);
	}
}

.bookme-float-button {
	font-size: $size-1em-fontsize;
	margin: 5px 15px;
	padding: 8px 15px;
	
	&:hover, &:focus {
		margin: 5px 0;
		padding: 8px 30px;
	}
}

.dark-mode {
	align-items: center;
	background: transparent;
	border: 0;
	display: block;
	height: 50px;
	justify-content: center;
	outline: 0!important;
	position: fixed;
	right: 3px;
	top: 1px;
	z-index: 6;
	
	&:hover { cursor: pointer; }
	
	&:before {
		background: $color-white-50;
		border: 2px solid $color-white-50;
		border-radius: 12px;
		box-shadow: $neumorphism-shadow;
		content: '';
		display: block;
		height: 18px;
		margin: 8px 0;
		position: relative;
		top: -2px;
		width: 32px;
	}

	&:after {
		background: $color-white;
		border: 2px solid $color-white-50;
		border-radius: 12px;
		box-shadow: $neumorphism-shadow;
		content: '';
		display: block;
		height: 18px;
		left: 7px;
		margin: 8px 0 0 0;
		position: absolute;
		top: 6px;
		width: 18px;
	}

	&.enabled {

		&:before {
			background: $color-primary;
			background-blend-mode: exclusion;
			border: 2px solid $color-white;
			box-shadow: $neumorphism-shadow;
			
			@include add-prefix-value (transition, all .5s);
		}
	
		&:after {
			background: $color-primary;
			border: 2px solid $color-primary;
			box-shadow: $neumorphism-shadow-right;
			margin: 8px 0 0 14px;
			
			@include add-prefix-value (transition, all .5s);
		}
	}
}

.season-mode {
	align-items: center;
	background: $color-white-50;
	border: 2px solid $color-white-50;
	border-radius: 38px;
	box-shadow: $neumorphism-shadow;
	display: flex;
	font-size: $size-2-5em-fontsize;
	height: 38px;
	justify-content: center;
	outline: 0!important;
	position: fixed;
	right: 9px;
	top: 59px;
	width: 38px;
	z-index: 6;
	
	&.springtime:before { @include add-prefix-value (transform, rotate(43deg)); }
	&.summertime:before { @include add-prefix-value (transform, rotate(-45deg)); }
	&.falltime:before { @include add-prefix-value (transform, rotate(-140deg)); }
	&.wintertime:before { @include add-prefix-value (transform, rotate(-225deg)); }
	
	
	&:hover { cursor: pointer; }
	
	&:before {
		content: $icon-seasons;
		
		@include add-prefix-value (transition, all .5s);
	}
}