.cards {
	background-color: transparent;
	border: none;
	border-radius: 4px;
	color: $color-white;
	margin-top: 15px;
	overflow: hidden;
	
	header, .article-text {
		position: relative;
		width: 100%;
		z-index: 3;
	}

	header {
		padding-bottom: 0;
		padding-top: 0;
		
		h2 {
			color: $color-dark-grey;
			font-size: $font-size-formal-h2;
			font-weight: bold;
			margin: 0;
			padding-top: $heading-top;
			width: 75%;
		}
	}

	.article-text {

		.read, .more { @include add-prefix-value (transition, all .5s ease-out); }
		
		.read { 
			height: 0;
			overflow: hidden;

			label.header { 
				font-weight: bold;
				letter-spacing: $default-letter-spacing;
				
				span {
					color: $color-white;
					font-weight: normal;
					text-shadow: $left-corner-shadow, $right-corner-shadow;
				}
			}

			h3 { 
				color: $color-text;
				font-family: $font-face-formal-h3;
				font-size: $font-size-formal-h3;
				font-weight: bold;
				letter-spacing: $icon-01px-fontsize;
				padding-top: $heading-top;
				
				&:before {
					clear: both;
					content: " ";
					display: initial;
				}
			}
		}
		
		.more { height: fit-content; }

		p {
			color: $card-text;
			margin: 16px 0;
			
			&:last-child { margin-bottom: 0; }
			
			> a, > a:hover, > a:link {
				border-bottom: 1px dotted $color-white;
				color: $color-white;
				cursor: pointer;
				display: inline-block;
				position: relative;

				&:focus {
					border: 2px solid $color-primary-light;
					border-radius: 4px;
					margin: 5px 0;
					outline-width: 0;
					padding: 7px 10px;
					
					&:after {
						color: $color-primary-light;
						content: '*';
						font-family: $font-icons;
						font-size: $size-1-7em-fontsize;
						line-height: 24px;
						position: absolute;
						top: -5px;
						right: -17px;
					}
				}
			}
		}
	}

	.article-video video { width: 100%; }

	.article-footer {
		height: 47px;
		position: relative;
		z-index: 3;
		
		@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));
		
		&:after, &:before { text-shadow: $elevation-1p; }

		&:before {
			color: $color-white;
			content: $icon-eye;
			font-size: $icon-24px-fontsize;
			position: absolute;
			top: 0px;
		}
		
		&:after {
			color: $color-white;
			content: " read more";
			font-family: $font-secondary;
			font-size: $icon-11px-fontsize;
			position: absolute;
			text-align: center;
			top: 35px;
			width: 53.91px;
		}

		&:hover { 
			cursor: pointer;
			
			&:after, &:before { 
				@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));

				text-shadow: $elevation-3p; 
				}
		}

		&[class$="--gigante"]{
			&:after, &:before { text-shadow: $elevation-3p; }

			&:after {
				content: "read less";
			}
		}
	}

	&.about {
		z-index: 0;
		
		@include add-left-to-right ($color-white, $color-dark-grey, initial);
	}

	&.booking {
		background: rgba($color-booking-form,.9) url(../images/telephone-586266_1920.jpg) no-repeat center center;
		background-clip: content-box;
		background-size: cover;
		background-blend-mode: luminosity;
		top: -81px;
		
		//card-contracted
		@include add-prefix-value (clip-path, polygon(0 0,100% 66px,100% 100%,0 100%));
		@include add-left-to-right (rgba($color-booking-form,.9), $color-white, $color-white);

		> .article-text { max-width: 100%; }

		.bookme-link, .bookme-link:link {
			border-bottom: none;
			color: $card-text;
			display: inline-block;
			position: relative;
			text-decoration: none;
			text-transform: lowercase;
			
			&:after {
				content: " ";
				display: inline-block;
				position: absolute;
				bottom: 0px;
				left: 0px;
				height: 100%;
				width: 100%;
				border-bottom: 1px dotted $color-white;
			}

			&:focus::after { 
				border-bottom: none;
				left: unset;
				width: auto;
			}
			
			&:hover {
				cursor: pointer;
				border-bottom: none;
			}
		}

		label.header {
			font-size: $size-1em-fontsize;
			float: none;
			padding: 10px 14px 0;
		}

		label.header,
		input#first-name,
		input#surname, 
		input#email, 
		input#phone-number,
		input#datepicker1,
		input#timepicker,
		.wickedpicker__controls__control span,
		textarea { font-family: $font-secondary; }

		input#first-name,
		input#surname, 
		input#email, 
		input#phone-number,
		input#datepicker1,
		input#timepicker,
		textarea {
			background-color: $color-input-background;
			border: none;
			border-bottom: 1px solid $color-black-50;
			border-radius: 0;
			color: $color-white;
			height: 40px;
			letter-spacing: 0;
			margin-bottom: 16px;
			outline: none;
			padding: 0 15px;
			width: 100%;
			
			@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));
			
			&:focus {
				box-shadow: $elevation-2p;
			}
		}

		input#first-name { border-radius: 6px 6px 0 0; }

		input[type="radio"] ~ label {
			background-color: transparent;
			border-radius: 30px;
			color: $color-white;
			display: inline-block;
			margin-left: 20px;
			overflow: hidden;
			padding: 4px 0;
			
			&:active,
			&:hover {
				&:after {
					bottom: 12px;
					content: " ";
					display: block;
					border-bottom: 1px dotted $color-white;
					height: 1px;
					left: -3px;
					margin: 0 0 0 20px;
					position: absolute;
					width: 100%;
				}
			}
			
			&:before {
				content: "\2022";
				margin-right: 10px;
			}
		}

		input[type="radio"]:checked ~ label {
			background-color: $color-black-50;
			border: 2px solid $color-white;
			border-radius: 30px;
			color: $color-white;
			margin-left: 0;
			padding: 2px 16px;
			
			&:active,
			&:hover {
				&:after { border: none; }
			}
			
			&:before {
				content: "";
				margin-right: 0;
			}
		}

		input[type="radio"]:checked ~ .check { border: 2px solid $color-white; }

		input[type="radio"]:checked ~ .check:before { background: $color-white; }

		input::-webkit-input-placeholder { color: $color-booking-form; }

		input::-moz-placeholder { /* Firefox 19+ */ color: $color-booking-form; }
		 
		input:-moz-placeholder { /* Firefox 18- */ color: $color-booking-form; }
		 
		input:-ms-input-placeholder { color: $color-booking-form; }

		.check { display: none; }

		.treatment-type li,
		.patient-type li {
			padding-left: 13px;
			position: relative;
				
			label {
				height: 38px;
				line-height: 30px;
				margin-top: 0;
				padding-top: 0;
				text-transform: none;
				white-space: nowrap;
			}

			input[type="radio"] {
				position: absolute;
				bottom: 0px;
			}
			
			.check {
				position: absolute;
				top: 13px;
				
				&::before {
					height: 9px;
					left: 0px;
					top: 0px;
					width: 9px;
				}
			}
		}

		textarea::-webkit-input-placeholder { color: $color-booking-placeholder; }
		 
		textarea::-moz-placeholder { /* Firefox 19+ */ color: $color-booking-placeholder; }

		textarea:-moz-placeholder { /* Firefox 18- */ color: $color-booking-placeholder; }
		 
		textarea:-ms-input-placeholder { color: $color-booking-placeholder; }

		textarea#further-notes {
			height: 100px;
			padding-top: 10px;
		}

		.agreement { margin: 5px 0; }

		input[type="submit"] {
			background-color: $color-booking-notes;
			border-radius: 0 0 6px 6px;
			box-shadow: $elevation-2p;
			color: $color-white;
			font-weight: bold;
			margin-bottom: 38px;
			width: 100%;
			
			@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));
			
			&:hover { 
				box-shadow: $elevation-4p;
			}
		}

		> .article-footer { height: 112px; }
	}

	&.treatment {
		top: -162px;
		
		@include add-prefix-value (clip-path, polygon(0 66px,100% 0,100% 100%,0 100%));
		@include add-left-to-left (rgba(255,255,255,1), $color-dark-grey, initial);
	}

	&.finance {
		background: rgba(153, 42, 243, .9) url(../images/sport-1235019_1920.jpg) no-repeat center center;
		background-clip: content-box;
		background-size: cover;
		background-blend-mode: luminosity;
		top: -243px;
		z-index: 4;
		
		@include add-prefix-value (clip-path, polygon(0 0,100% 66px,100% 100%,0 100%));
		@include add-left-to-right (rgba(153, 42, 243, .9), $color-white, $color-white);

		p > a { 
			border: none !important;
			border-radius: 24px;
			
			&:focus {
				border: 2px solid $color-primary-light !important;
				border-radius: 24px !important;
			}

			> img { 
				border-radius: 12px;
				box-shadow: $neumorphism-shadow;
				margin: 8px 8px 38px 19px;
				
				@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));
				
				&:hover { box-shadow: $elevation-4p; }
			}
		}
	}

	&.questions {
		background-blend-mode: luminosity;
		background:  rgba(43, 65, 65, 1) url(../images/question-mark-1872665_1920.jpg) no-repeat center center;
		background-clip: content-box;
		background-size: cover;
		background-blend-mode: luminosity;
		top: -324px;
		z-index: 4;
		
		@include add-prefix-value (clip-path, polygon(0 0,100% 66px,100% 87%,0 100%));
		@include add-left-to-right (transparent, $color-white, $color-white);
		
		&.questions--resize { @include add-prefix-value (clip-path, polygon(0 0,100% 66px,100% 93%,0 100%)); }
		
		> .article-text > .read h3 { color: $color-white; }

		> .article-footer { height: 112px; }

		.read {
			li:not(:first-child) h3.question { margin-top: 33px; }

			label.header { font-size: $size-1em-fontsize; }

			#qanda-list { margin-top: 16px; }

			.qanda-query {
				border: none;
				border-bottom: 1px solid $color-white-50;
				border-radius: 24px;
				color: $color-dark-grey;
				font-family: $font-secondary;
				height: 40px;
				letter-spacing: 0;
				margin-bottom: 16px;
				outline: none;
				padding: 0 15px;
			}
		}
	}

	&.providers {
		background: rgba(253, 203, 110,.8) url(../images/Medical_supplies_and_equipment_15834977505.jpg) no-repeat center center;
		background-size: cover;
		background-blend-mode: luminosity;
		top: 16px;
		
		@include add-prefix-value (clip-path, polygon(0 66px,100% 0,100% 100%,0 100%));
		@include add-right-to-left (rgba(253, 203, 110,.8), $color-white, $color-white);
		&:after { display: none; }

		header h2, 
		> .article-text > .suppliers-text,
		> .article-footer:before,
		> .article-footer:after,
		> .article-text > .more p,
		> .article-text > .read p { color: $color-text; }

		footer { height: 106px; }
	}

	&.contact {
		background: $color-black-30 url(../images/map.png);
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: center;
		background-blend-mode: multiply;
		border-radius: 0;
		font-family: $font-secondary;
		position: relative;
		
		&:after {
			background: linear-gradient(0deg,rgba(0,0,0,1),$color-black-80);
			content: " ";
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
		}

		header h2 { color: $color-white; }

		.article-text {

			.container-fluid { 
				border-right: 5px dotted $color-white-10;
				padding-left: 0;
			}

			td { padding-left: 16px; }

			button {
				background-color: $color-white;
				color: $color-black;
			}

			address.office-address,
			.opening-times { 
				display: flow-root;
				text-align: left;
			}

			address.office-address strong { white-space: nowrap; }

			.opening-times { margin-top: 16px; }

			.googlemap {
				border-radius: 0 0 4px 4px;
				border: 5px solid rgb(236, 236, 236);
				margin-top: 16px;
				
				iframe {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
				}
			}
		}
		
		.article-footer {
			height: 112px;
			
			&:before { 
				content: $icon-map;
				line-height: 1.5;
			}

			&:after { content: "see map" !important; }
		}

		.contact--gigante:after { content: "hide map" !important; }
	}
}