//colors management
$color-canvas: #2B4141;
$color-primary: #16a085;
$color-primary-light: #00ff95;
$color-secondary: #3399CC;
$color-logo: #c59b4f;
$color-highlight: #999;
$color-background: #FFFCF2;
$color-booking-form: #0984e3;
$color-booking-placeholder: #2583B2;
$color-booking-notes: #000;
$color-input-background: rgba(4,64,110,.88);

$color-border: #e5e5e5;
$color-error: #F05D5E;
$color-warning: #ffc107;
$color-notice: #2196f3;
$color-success: #26A96C;

$color-black-0: rgba(0,0,0,0);
$color-black-10: rgba(0,0,0,.1);
$color-black-12: rgba(0,0,0,.12);
$color-black-16: rgba(0,0,0,.16);
$color-black-19: rgba(0,0,0,.19);
$color-black-20: rgba(0,0,0,.2);
$color-black-22: rgba(0,0,0,.22);
$color-black-23: rgba(0,0,0,.23);
$color-black-24: rgba(0,0,0,.24);
$color-black-25: rgba(0,0,0,.25);
$color-black-30: rgba(0,0,0,.3);
$color-black-50: rgba(0,0,0,.5);
$color-black-60: rgba(0,0,0,.6);
$color-black-75: rgba(0,0,0,.75);
$color-black-80: rgba(0,0,0,.8);
$color-black: #000;

$color-dark-grey: #333;
$color-mid-grey: #666;
$color-light-grey: #eee;
$color-white: #fff;
$color-white-10: rgba(255,255,255,.1);
$color-white-16: rgba(255,255,255,.16);
$color-white-22: rgba(255,255,255,.22);
$color-white-23: rgba(255,255,255,.23);
$color-white-25: rgba(255,255,255,.25);
$color-white-20: rgba(255,255,255,.2);
$color-white-50: rgba(255,255,255,.5);
$color-white-60: rgba(255,255,255,.6);
$color-white-80: rgba(255,255,255,.8);
$color-white-95: rgba(255,255,255,.95);
$color-dark-16: rgba($color-primary-light,.16);
$color-dark-23: rgba($color-primary-light,.23);
$color-dark-60: rgba($color-primary-light,.6);
$color-dark-80: rgba($color-primary-light,.8);

$color-text: $color-dark-grey;

$color-spring: #00b894;
$color-summer: $color-white;
$color-fall: #FF6666;
$color-winter: $color-logo;

$color-aside: #CB2D6F;
$color-aside-swatch-01: #0F292F;
$color-aside-swatch-02: $color-primary;
$color-aside-swatch-03: #CB2D6F;
$color-aside-swatch-04: $color-dark-grey;

$color-facebook: #3b5998;
$color-gps-location: $color-aside-swatch-03;
$color-twitter: #0084b4;
$color-linkedin: #005D94;

$color-dark-solid-22: #222;
$color-dark-gradient-34: rgba(43,43,43,.75);
$color-dark-input: rgba(10,78,65,.88);

$color-3d-highlight: #cc0033;
//Defaults

// Social Icons
$icon-kanban-hover: #3cccfc;
$icon-mgmt-hover: #0b0699;
$icon-office-hover: #FF803E;
$icon-pencil-hover: #f7d513;
$icon-image-hover: #5fe23b;
$icon-skype-hover: #00aff0;
$icon-mail-hover: #fc3c3c;
$icon-twitter-hover: #0199DA;
$icon-linkedin-hover: #0077B5;