//common and vendor overides
.agreement { font-size: $font-agreement-text; }

.disable-scroll { 
	height: 100%;
	overflow-y: hidden;
}

.col { display: table-column; }

.inline-list li { display: inline; }

label.header { text-align: left; }

.left-to-right { @include add-left-to-right (rgba(255,255,255,.95), $color-dark-grey, $color-spring); }

.list li h3 { padding: 8px 0 0 !important; }

#ui-datepicker-div { margin-top: 0px !important }

.z-index-4 { z-index: 4 !important; }

//LinkedIn override
.LI-simple-link, 
.LI-simple-link:focus,
.LI-simple-link:hover { 
	background-color: $color-white;
	color: $color-linkedin;
}

.LI-badge-container.vertical.light .LI-view-profile { 
	background-color: $color-white !important;
	color: $color-linkedin !important;
	line-height: 29px !important;
}

.LI-profile-badge {
	float: left;
	height: 412.19px;
	margin: 16px 16px 16px 0;
	position: relative;
	z-index: 1;

	&:before, 
	&:after {
		border: 1px dotted lightgrey;
		color: $color-dark-grey;
		left: 0;
		position: absolute;
		top: 33%;
		z-index: -1;
	}

	&:before {
		border-radius: 11px 0 0 11px;
		content: "i";
		font-family: serif;
		font-size: 16px;
		font-style: italic;
		font-weight: bold;
		padding: 3px 9px 3px;
		text-transform: lowercase;
	}

	&:after {
		border-radius: 3px;
		border-left: none;
		content: "Decorative image offline";
		font-size: 11px;
		left: 0;
		margin-left: 24px;
		padding: 3px 8px 5px;
		text-transform: uppercase;
	}
}

.ui-datepicker-title span { font-weight: bold; }
#ui-datepicker-div { border-radius: 4px !important; }

.wickedpicker { 
	border-radius: 4px;
	
	@include add-prefix-value (transform, translateY(-5px));
}

.wickedpicker__controls__control--separator { 
	width: 1px;

	@include add-prefix-value (transform, translateY(-4px));
}

.wickedpicker__controls__control-up { margin-bottom: 0px; }
.wickedpicker__controls__control-down { margin-top: 6px; }
.wickedpicker__title { font-weight: bold; }
.wickedpicker__controls li > span { font-family: $font-secondary; }
.wickedpicker__close { right: 2px; }

.sr-only { color: $color-dark-grey; }