.dark-knight {
	@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));
	
	body:before {
		background-color: $color-black-75;
	}

	.navbar.scroll-past-0:before {
		background-color: $color-dark-gradient-34;
	}

	.dropdown-menu {
		background-color: $color-black-50;
	}

	.dropdown-item {
		a { 
			color: $color-white-80;
			
			&:focus, &:hover {
				border-color: $color-primary-light;
				color: $color-primary-light;
			}
		}

		&:focus, &:hover {
			background: $color-white-10;
			color: $color-white-80;
		}
	}

	.nav-link {
		color: $color-white-80;
		
		&:active, &:focus, &:hover {
			background-color: $color-primary-light;
			border-color: $color-primary-light;
			color: $color-black-80;
		}
	}

	.open > .nav-link {
		background-color: $color-primary-light;
		border-color: $color-primary-light;
		color: $color-black-80;
		
		&:active, &:focus, &:hover {
			background-color: $color-primary-light;
			border-color: $color-primary-light;
			color: $color-black-80;
		}
		
		&.dropdown-toggle::after {
			border-top: 8px solid $color-primary-light;
		}
	}

	.header-title span { color: $color-white-80; }

	.bookme-button, .bookme-float-button { 
		border-color: $color-white;
		color: $color-white;
		
		&:active, &:focus, &:hover {
			border-color: $color-primary-light;
			box-shadow: $darklight-4p;
			color: $color-primary-light;
		}
	}

	.cards.about,
	.cards.treatment {
		header h2 { color: $color-primary; }
	}
	
	.cards.about,
	.cards.treatment,
	.cards.providers {
		.article-text p,
		.article-text h3,
		.article-footer:before,
		.article-footer:after { color: $color-white; }

		header,
		.article-text,
		.article-footer { background-color: $color-dark-solid-22; }
	}

	.cards.about:before { border-left: 100vw solid $color-dark-solid-22; }
	.cards.about:after { 
		border-bottom: 66px solid $color-dark-solid-22;
		border-right: 100vw solid $color-dark-solid-22;
	}

	.cards.treatment:before { 
		border-right: 100vw solid $color-dark-solid-22;
		border-top: 66px solid $color-dark-solid-22;
	}
	.cards.treatment:after { 
		border-right: 100vw solid $color-dark-solid-22;
		border-bottom: 66px solid $color-dark-solid-22;
	}

	.cards.booking:before,
	.cards.finance:before { border-left: 100vw solid rgba($color-primary,.9); }
	.cards.booking:after,
	.cards.finance:after { 
		border-bottom: 66px solid rgba($color-primary,.9);
		border-right: 100vw solid rgba($color-primary,.9);
	}
	.cards.booking header,
	.cards.booking .article-text,
	.cards.booking .article-footer,
	.cards.finance header,
	.cards.finance .article-text,
	.cards.finance .article-footer,
	.cards.providers header,
	.cards.providers .article-text,
	.cards.providers .article-footer, { background: rgba($color-primary,.9); }
	.cards.booking {
		input::-webkit-input-placeholder { color: $color-primary; }

		input::-moz-placeholder { /* Firefox 19+ */ color: $color-primary; }
		 
		input:-moz-placeholder { /* Firefox 18- */ color: $color-primary; }
		 
		input:-ms-input-placeholder { color: $color-primary; }
	}

	.cards.booking input#datepicker1, 
	.cards.booking input#email, 
	.cards.booking input#first-name, 
	.cards.booking input#phone-number, 
	.cards.booking input#surname, 
	.cards.booking input#timepicker, 
	.cards.booking textarea { background-color: $color-dark-input; }
	.cards.booking input[type=submit] { 
		background-color: $color-black;
		border: 1px solid $color-black;
		
		&:hover { 
			border: 1px solid $color-primary-light;
			box-shadow: $darklight-4p;
		}
	}
	.cards.booking { background-color: rgba($color-primary,.9); }
	.cards.finance { background-color: rgba($color-primary,.9); }
	.cards.providers { background-color: rgba($color-primary,.9); }
	.cards.providers header h2 { color: $color-white; }
	.cards.providers:before { 
		border-top: 66px solid rgba($color-primary,.9);
		border-right: 100vw solid rgba($color-primary,.9);
	}

	aside {
		background: rgba($color-black,.8) url(../images/float.webp) no-repeat center center;
		background-size: cover;
	}

	.footer .copyline .copyright,
	.footer .copyline .copyright span { color: $color-primary; }

	.footer .social-channels .social-menu .menuitem a:before { color: $color-primary; }

	.three-d-menu .skills ul li.wrap ul.cube li { 
		border: 1px dotted $color-mid-grey;
		
		&:before { color: $color-primary; }

		&.back,
		&.right,
		&.left,
		&.front { 
			&:hover { color: $color-white; }
		}
	}

	@media screen and (max-width: 767px) {
		.navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
			color: $color-white;
			
			&:focus,
			&:active,
			&:hover {
				&:before, 
				&:after { color: $color-black; }	
			}
		}
		.navbar.scroll-past-0:before {
			background-color: transparent;
		}
	}

	video {
		@include add-prefix-value (filter, grayscale(1));
	}

	#twitcker-bar .box:after { border-right: 1px dotted $color-primary !important; }
	#twitcker-bar .box a { color: $color-primary-light !important; }
}