//font-face import settings

@font-face {

	font-family: 'LEDCounter7';
	src: url('../fonts/LEDCounter7.eot') format('embedded-opentype'),
	url('../fonts/LEDCounter7.eot?#iefix') format('embedded-opentype'),
	url('../fonts/LEDCounter7.woff') format('woff'),
	url('../fonts/LEDCounter7.ttf') format('truetype'),
	url('../fonts/LEDCounter7.svg#LEDCounter7') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'OperatorMonoBoldItalic';
	src: url('../fonts/OperatorMono-BoldItalic.eot') format('embedded-opentype'),
	url('../fonts/OperatorMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OperatorMono-BoldItalic.woff') format('woff'),
	url('../fonts/OperatorMono-BoldItalic.ttf') format('truetype'),
	url('../fonts/OperatorMono-BoldItalic.svg#OperatorMonoBoldItalic') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'OperatorMonoExtraLightItalic';
	src: url('../fonts/OperatorMono-XLightItalic.eot') format('embedded-opentype'),
	url('../fonts/OperatorMono-XLightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OperatorMono-XLightItalic.woff') format('woff'),
	url('../fonts/OperatorMono-XLightItalic.ttf') format('truetype'),
	url('../fonts/OperatorMono-XLightItalic.svg#OperatorMonoExtraLightItalic') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'OperatorMonoLightItalic';
	src: url('../fonts/OperatorMono-LightItalic.eot') format('embedded-opentype'),
	url('../fonts/OperatorMono-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OperatorMono-LightItalic.woff') format('woff'),
	url('../fonts/OperatorMono-LightItalic.ttf') format('truetype'),
	url('../fonts/OperatorMono-LightItalic.svg#OperatorMonoLightItalic') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'OperatorMonoBookItalic';
	src: url('../fonts/OperatorMono-BookItalic.eot') format('embedded-opentype'),
	url('../fonts/OperatorMono-BookItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OperatorMono-BookItalic.woff') format('woff'),
	url('../fonts/OperatorMono-BookItalic.ttf') format('truetype'),
	url('../fonts/OperatorMono-BookItalic.svg#OperatorMonoBookItalic') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'OperatorMonoMediumItalic';
	src: url('../fonts/OperatorMono-MediumItalic.eot') format('embedded-opentype'),
	url('../fonts/OperatorMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OperatorMono-MediumItalic.woff') format('woff'),
	url('../fonts/OperatorMono-MediumItalic.ttf') format('truetype'),
	url('../fonts/OperatorMono-MediumItalic.svg#OperatorMonoMediumItalic') format('svg');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'PlayfairDisplay';
	src: url('../fonts/PlayfairDisplay.eot') format('embedded-opentype'),
	url('../fonts/PlayfairDisplay.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PlayfairDisplay.woff') format('woff'),
	url('../fonts/PlayfairDisplay.ttf') format('truetype'),
	url('../fonts/PlayfairDisplay.svg#PlayfairDisplay') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto';
	src: url('../fonts/Roboto.eot') format('embedded-opentype'),
	url('../fonts/Roboto.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto.woff') format('woff'),
	url('../fonts/Roboto.ttf') format('truetype'),
	url('../fonts/Roboto.svg#Roboto') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TrajanPro';
	src: url('../fonts/TrajanPro.eot?1lm5x9') format('embedded-opentype'),
	url('../fonts/TrajanPro.eot?1lm5x9#iefix') format('embedded-opentype'),
	url('../fonts/TrajanPro.ttf?1lm5x9') format('truetype'),
	url('../fonts/TrajanPro.woff?1lm5x9') format('woff'),
	url('../fonts/TrajanPro.svg?1lm5x9#TrajanPro') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'statera-icons';
	src: url('../fonts/statera-icons.eot?1lm5x9') format('embedded-opentype'),
	url('../fonts/statera-icons.eot?1lm5x9#iefix') format('embedded-opentype'),
	url('../fonts/statera-icons.ttf?1lm5x9') format('truetype'),
	url('../fonts/statera-icons.woff?1lm5x9') format('woff'),
	url('../fonts/statera-icons.svg?1lm5x9#statera-icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

//font face
$font-primary: 'PlayfairDisplay';
$font-secondary: 'Roboto';
$font-tertiary: sans-serif;
$font-cursive-bold: 'OperatorMonoBoldItalic';
$font-cursive-book: 'OperatorMonoBookItalic';
$font-cursive-light: 'OperatorMonoLightItalic';
$font-cursive-medium: 'OperatorMonoMediumItalic';
$font-cursive-xlight: 'OperatorMonoXLightItalic';

//font brand
$font-logo: 'TrajanPro';
$font-icons: 'statera-icons';

//twitter feed
$font-twitter: 'LEDCounter7';

//IA Content category or grouping
$font-face-formal-h2: $font-secondary;
$font-face-formal-h3: $font-cursive-book;

$font-face-informal-h2: $font-secondary;
$font-face-informal-h3: $font-cursive-book;

$font-agreement-text: $size-07em-fontsize;