//font icons

//3d menu
$icon-mail: "\65";
$icon-pic: "\70";
$icon-office: "\71";
$icon-pencil: "\50";
$icon-kanban: "\4b";
$icon-mgmt: "\76";
$icon-skype: "\73";
$icon-linkedin: "\38";

//menu
$icon-statera-logo: "\78";
$icon-shop: "\68";
$icon-people: "\6c";
$icon-contacts: "\6f";
$icon-calendar: "\61";
$icon-medicine: "\69";
$icon-banknote: "\66";
$icon-bulb: "\67";
$icon-box: "\62";
$icon-briefcase: "\42";

//social
$icon-location: "\6d";
$icon-facebook: "\46";
$icon-twitter: "\54";

//articles
$icon-eye: "\63";
$icon-map: "\4d";

//aside
$icon-feedback: "\6b";
$icon-close: "\58";
$icon-seasons: "\2b";

//unused
$icon-heart: "\75";
$icon-down: "\56";
$icon-up: "\55";
$icon-right: "\3e";
$icon-left: "\3c";
$icon-search: "\53";
$icon-bells: "\79";

.icon-kanban {
	&:before { content: $icon-kanban; }
	&:hover { color: $icon-kanban-hover !important; }
}

.icon-mgmt {
	&:before { content: $icon-mgmt; }
	&:hover { color: $icon-mgmt-hover !important; }
}

.icon-office {
	&:before { content: $icon-office; }
	&:hover { color: $icon-office-hover !important; }
}  

.icon-pencil {
	&:before { content: $icon-pencil; }
	&:hover { color: $icon-pencil-hover !important; }
}

.icon-image {
	&:before { content: $icon-pic; }
	&:hover { color: $icon-image-hover !important; }
}

.icon-skype {
	&:before { content: $icon-skype; }
	&:hover { color: $icon-skype-hover !important; }
}

.icon-mail {
	&:before { content: $icon-mail; }
	&:hover { color: $icon-mail-hover !important; }
}

.icon-twitter {
	&:before { content: $icon-twitter; }
	&:hover { color: $icon-twitter-hover !important; }
}

.icon-linkedin {
	&:before { content: $icon-linkedin; }
	&:hover { color: $icon-linkedin-hover !important; }
}

.home:before,
.about-us:before,
.contact-us:before,
.booking:before,
.treatment-options:before,
.finance-help:before,
.faqs:before,
.providers:before,
.send:before,
.header-title h1:before,
.logo:before,
.season-mode:before,
.careers:before,
.feedback-form:before,
.social-channels a:before,
.booking header:after,
.newsletter header:after,
.cards footer:before,
.icon-kanban:before,
.icon-mgmt:before,
.icon-office:before,
.icon-pencil:before,
.icon-image:before,
.icon-skype:before,
.icon-mail:before,
.icon-twitter:before,
.icon-linkedin:before,
.wickedpicker__close:before, 
.wickedpicker__controls__control-up:before, 
.wickedpicker__controls__control-down:after {
	font-family: $font-icons;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	speak: none;
	text-transform: none;
}

.wickedpicker__close:before, 
.wickedpicker__controls__control-up:before, 
.wickedpicker__controls__control-down:after {
	display: inline-block;
	line-height: $size-1em-fontsize;
	margin-left: $size-02em-fontsize;
	margin-right: $size-02em-fontsize;
	text-align: center;
	text-decoration: inherit;
	width: $size-1em-fontsize;
}

.home:before,
.about-us:before,
.contact-us:before,
.booking:before,
.treatment-options:before,
.finance-help:before,
.faqs:before,
.providers:before,
.send:before,
.header-title h1:before,
.logo:before,
.season-mode:before,
.careers:before,
.feedback-form:before,
.social-channels a:before,
.booking header:after,
.newsletter header:after,
.cards footer:before,
.icon-kanban:before,
.icon-mgmt:before,
.icon-office:before,
.icon-pencil:before,
.icon-image:before,
.icon-skype:before,
.icon-mail:before,
.icon-twitter:before,
.icon-linkedin:before {
	font-size: $size-08em-fontsize;
	line-height: 2;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.logo:before {
	content: "\6d";
	margin-right: 8px;
}

.social-channels a:before { font-size: $size-1-5em-fontsize; }
.social-channels .gps-location:before {
	color: $color-gps-location;
	content: $icon-location;
}
.social-channels .facebook:before {
	color: $color-facebook;
	content: $icon-facebook;
}
.social-channels .twitter:before {
	color: $color-twitter;
	content: $icon-twitter;
}