#tickertape {
	bottom: 34px;
	position: fixed;
	z-index: 5;
	
	#twitcker-bar {
		background: $color-white-80;
		border: none;
		height: 28px !important;
		position: relative;
		width: 100vw;
		
		&:before {
			background-image: url(../images/filter.png);
			content: "";
			display: block;
			height: 28px;
			left: 0;
			position: fixed;
			bottom: 34px;
			width: 100%;
			z-index: 0;
		}
	}

	#twitcker-bar div.border-left, #twitcker-bar div.border-right { width: 0; }

	#twitcker-marquee {
		bottom: 4px;
		padding: 0;
		position: absolute;
		
		.box {
			background: transparent;
			border: none;
			box-shadow: none;

			a {
				color: $color-black;
				font-family: monospace;
				text-shadow: none;
			}
		}
	}
}

.tweets {
	header, footer { display: none; }
	
	.article-text {
		padding: 0;
		
		iframe {
			border: none !important;
			margin: 0 !important;
			width: 100% !important;
			
			@include add-prefix-value (transform, scale(1.01));
		}
	}
}

.tweets .article-text {
	height: 100%;
	
	twitterwidget {
		margin: 0 !important;
		
		@include add-prefix-value (transform, scale(1.01) !important);
	}
}

.footer {
	background-color: $color-black;
	border-bottom: 35px solid $color-black;
	display: block;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 4;
	
	.credits {
		font-family: $font-secondary;
		font-size: $size-07em-fontsize;
		letter-spacing: .5px;
		padding: 0 $guttering-desktop;
		position: relative;
		text-transform: uppercase;
		
		.row {
			margin: 0 0 143px 0;
			
			.col-4 { padding: 0 16px 0 0; }
			
			ul {

				li {
					padding-bottom: 4px;
					 
					a {
						background-color: $color-black;
						border-bottom: 1px dotted transparent;
						position: relative;
						white-space: nowrap;
						 
						&.menu-link {
							color: $color-white-60;
							display: inline-block;
							
							&:before {	
								color: transparent;
							}
							
							&:hover { 
								border-bottom: 1px dotted $color-white-60;
								text-decoration: none;
							}
						}

						&[class*="partner-"]{
							border: 2px solid transparent;
							margin: 0 0 5px 0;
							padding: 7px 10px;
							
							&:before { position: absolute; }

							&:hover { text-decoration: none; }
						}
					}
				}
			}
		}
	}

	.copyline {
		bottom: 13px;
		color: $color-white;
		font-family: $font-secondary;
		font-size: $size-065em-fontsize;
		left: $guttering-desktop;
		letter-spacing: 1px;
		margin: 0;
		position: absolute;
		width: 50%;
		
		> a { 
			color: $color-white;
			position: relative;
			text-decoration: none; 
			
			&:active, &:hover { color: $color-white; }
		}
		
		.copyright {
			clear: both;
			display: block;
			font-family: $font-logo;
			font-size: $size-1-55em-fontsize;
			
			.custom-font { 
				font-size: $size-1-15em-fontsize;
				
				&:before {
					display: inline-block;
					content: $icon-statera-logo;
					font-family: $font-icons;
					
					@include add-prefix-value (transform, translateY(1px));
				}
			}
		}
	}

	.social-channels {
		bottom: 13px;
		font-family: $font-secondary;
		font-size: $size-08em-fontsize;
		position: absolute;
		right: 0;
		width: 50%;
		z-index: 300;
		
		.list-inline {
			display: flex;
			height: 100%;
			margin: 0;
			position: relative;
			width: 100%;
			
			.menuitem {
				align-items: center;
				display: inline-flex;
				height: 100%;
				justify-content: center;
				margin: 0;
				padding: 0;
				position: relative;
				width: 33.33333%;
			}
			
			.gps-location,
			.facebook,
			.twitter {
				border: 2px solid transparent;
				display: block;
				margin: 5px 0;
				padding: 7px 10px;
				position: relative;
				text-decoration: none;

				span {
					color: $color-white;
					display: block;

					&:hover { 
						color: $color-white;
					
						@include add-prefix-value (transition, 0.5s all);
					}
				}

				&:before {
					display: block;
					text-align: center;
				}
			}
		}
	}

	.supergui-signature {
		bottom: -2px;
		left: $guttering-desktop;
		position: absolute;
	    white-space: nowrap;
	    
		a {
			height: 5px;
			
			&:active, &:focus, &:hover, &:link, &:visited {
				bottom: 8px;
				color: $color-logo;
				font-family: $font-secondary;
				font-size: $size-06em-fontsize;
				letter-spacing: 2px;
				line-height: initial;
				margin: 0;
				outline: 0;
				position: absolute;
				padding: 0;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}