
.header { 
	.navbar-nav > li:nth-child(10),
	.navbar-nav > li:nth-child(1) { display: none; }
}


.header-title {
	position: relative;
	text-align: center;
	z-index: 4;
	
	h1 {
		background-color: none;
		color: $color-logo;
		font-family: $font-logo;
		font-size: $size-1-5em-fontsize;
		padding-top: $heading-top;
		text-shadow: $elevation-0p;
		
		&:before {
			clear: both;
			color: $color-logo;
			content: $icon-statera-logo;
			display: block;
			font-family: $font-icons;
			font-size: 2.5em !important;
			line-height: 55px;
			margin-bottom: 3px;
			width: 100%;
		}
	}

	span {
		color: $color-text;
		display: block;
		font-family: $font-tertiary;
		font-size: $size-09em-fontsize;
		letter-spacing: normal;
		margin: 10px auto;
		width: 44.44444%;
	}

	.bookme-button { margin: 0 auto; }
}