//defaults tag settings

*	{ box-sizing: border-box; }

body {
	position: relative;
	// background: linear-gradient(100deg, rgba($color-notice,.2), rgba($color-background,.8), rgba($card-text,.8), rgba($color-error,.2));
	// background-size: 800% 800%;
	
	// @include add-prefix-value(animation, movebkgrndclr 30s ease infinite);
	
	> header { 
		align-items: center;
		display: flex; 
		height: 68vh;
		justify-content: center;
	}
	
	&:before {
		background-image: url(../images/filter.png);
		content: "";
		display: block;
		height: 300%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		background-color: rgba(255, 255, 255, .75);
		background-blend-mode: luminosity;
		background-repeat: repeat;
	}
}

html, body {
	font-family: $font-primary;
	font-size: $font-size-base;
	-webkit-font-smoothing: antialiased;
}

@media (min-width: $screen-sm-min) { font-size: $font-size-sm; }

@media (min-width: $screen-md-min) { font-size: $font-size-md; }

@media (min-width: $screen-lg-min) { font-size: $font-size-lg; }

//body, nav, footer { min-width: 320px; }

a {
	color: $color-text;
	
	&:focus { 
		border: 2px solid $color-primary-light !important;
		border-radius: 4px;
		margin: 5px 0;
		outline-width: 0;
		padding: 7px 10px;
		
		&:after {
			color: $color-primary-light;
			content: '*';
			font-family: $font-icons;
			font-size: $size-2-25em-fontsize;
			position: absolute;
			right: -17px;
			top: -7px;
		}
	}
	
	&:hover {
		color: $color-secondary;
		cursor: pointer;
		text-decoration: dotted !important;
	}
}

a[href^="mailto"],
a[href^="tel"] {
	direction: rtl;
	text-transform: lowercase;
	unicode-bidi: bidi-override;
}
	
abbr[title], 
abbr[data-original-title] {
	border-bottom: none !important;
	display: inline-block;
	position: relative;
	text-decoration: none;

	&:after {
		content: " ";
		display: inline-block;
		position: absolute;
		border-bottom: 1px dashed white;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

address { font-family: $font-secondary; }
	
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

aside {
	box-shadow: $elevation-5p;
	height: 0;
	bottom: 0;
}
		
h2, label, p { 
	font-family: $font-secondary;
	letter-spacing: $size-002em-fontsize; 
	color: $color-text;
}
	
strong { font-weight: bold !important; }
	
table { margin: 0; }

th { text-align: left; }
	
main.content {
	height: 100%;
	margin: 0 auto;
	max-width: 100%;
	
	&:after {
		clear: both;
		content: '';
		display: block;
	}
}