@media screen and (min-width: 1921px){
	body { 
		font-size: 20px;
		padding: 0 375px; 
	}

	.tooltip-inner { font-size: $size-1-5em-fontsize; }

	.dark-mode {
		display: inline-block;
		right: 35px;
		top: 13px;
		
		@include add-prefix-value (transform, scale(1.5));
	}

	.season-mode {
		right: 36px;
		top: 110px;
		
		&:before { font-size: .45em ; }
		
		@include add-prefix-value (transform, scale(1.5));
	}

	.header-title h1 { font-size: $size-2-5em-fontsize; }
	.header-title h1:before { 
		font-size: $size-2em-fontsize;
		line-height: 118px;
	}

	.three-d-menu {
		right: 160px;
		top: 300px;
		
		.skills ul li.wrap ul.cube li { font-size: $size-1-3em-fontsize; }
		
		@include add-prefix-value (transform, scale(1.70));
	}

	.navbar-nav .menulogo {
		font-size: $size-1-75em-fontsize;
		top: 20px;
	}

	.navbar,
	.navbar.scroll-past-0:before { height: 75px; }

	.nav-link, 
	.nav-link:hover,
	.open>.nav-link,
	.open>.nav-link:focus { 
		font-size: $size-1-2em-fontsize;
		//margin: 14px 0 !important;
	}

	.bookme-button,
	.bookme-float-button,
	.bookme-button:focus, 
	.bookme-button:hover, 
	.bookme-float-button:focus, 
	.bookme-float-button:hover {
		font-size: $base-fontsize;
		padding: 13px 40px;
	}

	.bookme-button:focus, 
	.bookme-button:hover, 
	.bookme-float-button:focus, 
	.bookme-float-button:hover {
		padding: 13px 50px;
	}
	
	.cards .article-footer:before {
		font-size: $icon-30px-fontsize;
		line-height: 1;
	}
	.cards .article-footer:after { 
		font-size: $icon-15px-fontsize;
		right: 84px !important;
		white-space: nowrap;
	}

	.cards .article-footer[class$="--gigante"]:after { right: 77px !important; }
	.cards.contact .article-footer:before { line-height: 1 !important; }
	.cards.contact .article-footer:after { right: 77px !important; }

	.cards.about:after,
	.cards.treatment:after,
	.cards.finance:after { z-index: 2; }

	video { 
		min-height: 110%;
		min-width: 110%;
	}
}

@media screen and (min-width: 1300px) and (max-width: 1920px){
	body { padding: 0 248px; }
	.dark-mode { right: 7px; }
}

@media screen and (max-width: 1300px) {
	.season-mode { right: -50px; }
		
	.three-d-menu { right: -100px; }

	.season-mode,
	.three-d-menu { @include add-prefix-value (transition, all .5s ease-out); }
}

@media screen and (min-width: 1200px){
	.nav > li > a { padding: 14px; }
}

@media screen and (min-width: 1028px){
	.nav > li > a { padding: 10px 10px; }
}

@media screen and (max-width: 991px) {
	.cards header:after { bottom: -2px; }
}

@media screen and (max-width: 989px) {
	aside .context-viewer { padding: 0 $guttering-desktop; }
}

@media screen and (max-width: 942px) {
	.menulogo:after { display: none; }
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape){ 
	.caret { display: none; }
}

@media screen and (max-width: 866px) {
	.cards.booking>.article-text>.more { padding: 0 $guttering-tablet; }
}

@media screen and (max-width: 823px) {
	aside .context-viewer { padding: 0 $guttering-tablet; }
}

@media screen and (max-width: 812px) {
	body { background-color: transparent; }
}

/* Gutter settings tablet (Landscape) */
@media screen and (min-width: 415px) and (max-width: 812px) {
	.cards {
		header, 
		.article-text { padding: 16px $guttering-tablet; }

		header { 
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}

@media screen and (max-width: 798px) {
	.cards {
		header, 
		.article-text { padding: 16px $guttering-desktop-LR; }
	}

	.cards.booking>.article-text>.more { padding: 0 $guttering-tablet; }
	.cards .article-text .more label.header { white-space: nowrap; }
}

@media screen and (min-width: 768px) {
	.cta-tray { display: none !important; }
	.cards .article-text, .cards header,
	.cards.booking>.article-text>.more { padding: $guttering-mobile $guttering-desktop-LR; }
	.cards .article-footer:before { right: 88px; }
	.cards .article-footer:after { right: 73px; }
}

@media screen and (max-width: 867px) {
	.cards.booking>.article-text>.more { padding: $guttering-mobile $guttering-tablet; }
}

@media screen and (max-width: 767px) {
	aside .context-viewer { padding: 0; }

	.nav { display: block; }

	.navbar {
		bottom: 0;
		right: 0;
		top: unset;
	}

	.navbar.scroll-past-0:before {
		background: url(../images/filter.png) repeat;
		border-radius: 16px;
		content: "";
		height: 44px;
		position: absolute;
		right: 20px;
		top: -14px;
		width: 44px;
		z-index: -1;
		
		@include add-prefix-value (backdrop-filter, blur(2px));
	}

	.navbar-toggler {
		background-color: rgba(221, 225, 224,.5);
		border-color: $color-white-50;
		border-width: 2px;
		bottom: 19px;
		box-shadow: $neumorphism-shadow-menu;
		float: right;
		height: 44px;
		margin: 0 16px 0 0;
		padding: 0 10px;
		position: fixed;
		right: 4px;
		width: 45px;
		z-index: 2;
		
		&:focus, &.hamburger-focus { 
			border-color: $color-primary-light;
			outline-width: 0;
			
			&:before {
				color: $color-primary-light;
				content: "*";
				font-family: $font-icons;
				font-size: $size-1-4em-fontsize;
				font-weight: normal;
				line-height: 24px;
				position: absolute;
				right: -17px;
				text-indent: 65px;
				top: -4px;
			}

			&.collapsed .icon-bar,
			&.collapsed .icon-bar .icon-bar,
			&.collapsed .icon-bar .icon-bar .icon-bar { background-color: $color-primary-light; }
		}
		
		&.collapsed {
			padding-top: 16px;
			
			~ .collapse.navbar-collapse { 
				display: block;

				@include add-prefix-value(transform, translateY(90px));
			}

			.icon-bar {
				background-color: white;
				box-shadow: $neumorphism-shadow-menu;
				display: block;
				height: 2px;
				width: 21px;
				
				@include add-prefix-value(transform, translateY(-8px));
				@include add-prefix-value (transition, all .5s);
				
				.icon-bar {
					background-color: white;
					
					.icon-bar {
						background-color: white;
						
						@include add-prefix-value(transform, translateY(16px));
						@include add-prefix-value (transition, all .5s);
					}
				}
			}
		}
		
		&:not(.collapsed) {
			padding: 0 9px;
			
			&:before { content: ""; }
			
			&:focus {
				background-color: $color-black;
				border-color: $hamburger-icon;
			
				&:hover, &:active {
					background-color: $hamburger-hover;
					border-color: $hamburger-icon;
				}
			}
			.icon-bar {
				background-color: white;
				display: block;
				height: 2px;
				width: 23px;
				
				@include add-prefix-value (transform, rotate(45deg));
				@include add-prefix-value (transition, all .5s);
					
				.icon-bar {
					background-color: transparent;
					
					.icon-bar {
						background-color: white;
						
						@include add-prefix-value (transform, rotate(45deg));
						@include add-prefix-value (transition, all .5s);
					}
				}
			}
			~ .collapse.navbar-collapse {
				display: block;
				
				@include add-prefix-value(transform, translateY(-90px));
				
				.navbar-nav {
					margin: 0;
					width: unset;
					
					.menulogo,
					li:nth-child(10) { display: none !important; }
					
					.nav-item {
						display: inline-flex;
						
						&.col-2 {
							align-items: center;
							justify-content: center;
							padding: 0;
							width: unset;
						}
						
						.dropdown-menu { display: none; }
						
						.nav-link {
							align-items: unset;
							border: none;
							color: $color-white;
							display: inline-block;
							justify-content: unset;
							margin: 0;
							padding-top: 0 !important;
							position: static;
							text-align: center;
							white-space: normal;
							width: auto;
							
							&:before {
								color: $color-white;
								font-family: $font-icons;
								font-size: $size-2-25em-fontsize;
								line-height: 1.5;
							}

							&:focus {
								padding: 7px 10px;
								
								&:after {
									font-family: $font-secondary;
									font-size: $size-1em-fontsize;
									position: relative;
									right: unset;
									top: unset;
								}
							}

							&.home:before { content: $icon-shop; }

							&.about-us:before { content: $icon-people; }

							&.booking-form:before { content: $icon-calendar; }

							&.treatment-options:before { content: $icon-medicine; }

							&.finance-help:before { content: $icon-banknote; }

							&.faqs:before { content: $icon-bulb; }

							&.providers:before { content: $icon-box; }
							
							&.contact-us:before { content: $icon-contacts; }

							&.careers:before { content: $icon-briefcase; }
							
							&.bookme-button {
								display: block !important;
								font-weight: unset;
								line-height: unset;
								box-shadow: none;
							}
						}
					}
				}
			}
		}
	}

	.cards .article-footer:before { right: 30px; }
	.cards .article-footer:after { right: 15px; }

	.cards.contact .article-text .container { 
		margin: 0;
		max-width: 100%;
	}

	.cards.contact .article-footer { 
		height: 145px;
		
		&:before { right: 31px; }
		&:after { right: 16px; }
	}

	.LI-profile-badge { width: 50%; }

	.cta-tray {
		bottom: 19px;
		left: -9px;
		padding: 0;
		position: fixed;
		width: 202px;
		z-index: 401;
		
		@include add-prefix-value (backdrop-filter, blur(2px));
		
		ul[role="menubar"] {
			background-color: $color-black-30;
			border: 2px solid $color-black-10;
			border-left: 0;
			border-radius: 0 4px 4px 0;
			display: flex;
			padding: 0;
			
			&:before { 
				background: url(../images/filter.png) repeat;
				content: "";
				height: 100%;
				position: absolute;
				width: 100%;
				z-index: -1;
			}
			
			.menubutton {
				text-align: center;
				width: 50%;
				
				.bookme-cta-button {
					background-color: transparent;
					border-radius: 4px;
					border: 1px solid $color-dark-grey;
					box-shadow: $elevation-1p;
					display: block;
					font-family: $font-secondary;
					font-size: $size-085em-fontsize;
					font-weight: bold;
					line-height: 19px;
					margin: 5px;
					outline: none;
					padding: 10px 15px;
				}
				
				.feedback-button,
				.bookme-cta-button {
					color: $color-white;
					
					&:focus {
						outline-width: 0;
						
						&:before {
							color: $color-primary-light;
							text-shadow: $neumorphism-shadow;
						}
					}	
				}

				.feedback-button,
				.bookme-cta-button {
					background-color: $color-white-20;
					border-color: $color-white;
					border-radius: 4px;
					border-width: 2px;
					margin: 5px 4px 5px;
					position: relative;
					text-shadow: $neumorphism-shadow-menu;
					white-space: nowrap;
				}
				
				.feedback-button {
					background: none; 
					border: none;

					&:focus::before {
						content: "\6b *";
						margin-left: 16px;
					}
					
					&:before {
						align-items: center;
						content: "\6b";
						display: flex;
						font-size: $size-2em-fontsize;
						height: 23px;
						justify-content: center;
						margin-top: 5px;
					}

					&:after {
						display: block;
						font-family: $font-secondary;
						font-size: $size-08em-fontsize;
						line-height: 1;
					}
				}

				.bookme-cta-button {
					
					&:focus { border-color: $color-primary-light; }
					
					&:focus::before {
						content: "*";
						font-family: $font-icons;
						font-size: $size-2-25em-fontsize;
						font-weight: normal;
						line-height: 24px;
						text-indent: 65px;
					}
					
					&:before {
						border-radius: 4px;
						content: "";
						display: block;
						height: 39px;
						left: -2px;
						position: absolute;
						top: -2px; 
						width: 87px;
					}
				}
			}
		}
	}

	.footer { 
		border-bottom: 5px solid $color-black;
		z-index: 3;
	}
	.footer .copyline { display: none; }
	.footer .supergui-signature { left: 16px; }
	.footer .credits { display: none; }

	.social-menu {
		padding-right: 82px;
		
		span { text-align: center; }
	}

	#twitcker-bar { display: none !important; }
}

@media screen and (max-width: 733px) {
	.cards.booking>.article-text>.more { padding: 0 $guttering-mobile; }
	.LI-profile-badge { width: 100%; }
}

@media screen and (max-width: 715px) {
	.navbar { padding: 0 16px; }
	.cards .article-text, .cards header { padding: $guttering-mobile $guttering-desktop; }
	.cards.booking>.article-text>.more { padding: 0 $guttering-tablet; }
}

@media screen and (max-width: 610px) {
	.cards.booking>.article-text>.more { padding: 0; }
}

@media screen and (max-width: 575px) {
	.cards.booking #ui-datepicker-div, .cards.booking input#datepicker1 { width: 100%; }
	.ui-datepicker .ui-datepicker-title { line-height: 2.5em; }
}

@media screen and (max-width: 568px) {
	.nav { text-align: center; }
	.navbar-toggler:not(.collapsed)~.collapse.navbar-collapse .navbar-nav .nav-item.col-2 { padding: 0 2%; }
}

@media screen and (max-width: 540px) {
	.emoji-feedback ul {
		margin: 0;

		li { padding: 0 8px; }
	}
}

@media screen and (max-width: 479px) {
	.navbar { padding: 0; }
}

@media screen and (max-width: 465px) {
	.cards .article-text .more label.header { white-space: normal; }
}

@media screen and (max-width: 455px) {
	.cards .article-footer:before { right: 30px; }
	.cards .article-footer:after { right: 15px; }
	.cards.contact .article-footer { z-index: 300; }
	aside .context-viewer { padding: 0 $guttering-mobile; }
	.z-index-4 { z-index: 399!important; } 
	.navbar, .navbar-toggler { z-index: 400; }

	.footer .social-channels { 
		bottom: 98px; 
		width: 100%;
		
		.social-menu { top: 15px; }
	}
}

@media screen and (max-width: 370px) {
	.cards .article-text, .cards header { padding: $guttering-mobile $guttering-tablet; }
}

@media screen and (max-width: 354px) {
	aside .context-viewer { padding: 0; }
}

@media screen and (max-width: 344px) {
	input[type="submit"] { @include add-prefix-value(transform, scale(.8)); }
}

@media screen and (max-width: 320px) {
	.nav-link {
		align-items: unset;
		border: none;
		justify-content: unset;
		display: inline-block;
		margin: 0;
		padding: 0!important;
		position: static!important;
		white-space: normal!important;
		width: auto!important;
	}

	a:focus > img { zoom: 98%; }
}