.fixed-top, .navbar-fixed-bottom {
	left: 0;
	position: fixed;
	right: 0;
	width: auto;
}

.navbar {
	height: 50px;
	padding: 0;
	z-index: 5;
}

.nav-item {
	position: relative;
}

.nav-link {
	align-items: center;
	border: 1px solid transparent;
	color: $color-text;
	display: flex;
	font-family: $font-secondary;
	font-size: $size-1em-fontsize;
	justify-content: center;
	margin: 8px 0;
	outline: none;
	padding: 8px 11px !important;
	
	&::after { display: none; }
	
	&:hover, &:focus {
		border: 1px solid $color-secondary;
		border-radius: 4px;
		background-color: $color-secondary; 
		box-shadow: $elevation-4p;
		color: $color-white;
		margin: 8px 0;
		outline: none;
		padding: 0;
	}

	@include add-prefix-value (transition, all .5s);
}

.open { 
	> .nav-link,
	> .nav-link:focus {
		border: 1px solid $color-secondary;
		border-radius: 4px;
		background-color: $color-secondary;
		color: $color-white;
		margin: 8px 0;
		outline: 0;	
	}

	.dropdown-toggle::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		border-top: 8px solid $color-secondary;
		border-right: 9px solid transparent;
		margin: 0;
		border-left: 9px solid transparent;
	}

	@include add-prefix-value (transition, all .5s);
}

.navbar-inverse,
.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown-menu {
	border-radius: 0 0 4px 4px;
	background: $color-white-50 url(../images/filter.png) repeat;
	backdrop-filter: blur(2px);
	box-shadow: $elevation-5p;
	font-size: $base-fontsize;
	margin-top: 0px;
}

.open .dropdown-menu { 
	display: block;
	overflow: hidden;
}

.dropdown-item {
	a { 
		font-family: $font-secondary;
		font-size: $size-1em-fontsize;
		
		&:hover { border-bottom: 1px dotted $color-secondary; }
	}
}
.dropdown-item:focus,
.dropdown-item:hover {
	background: rgba(255, 255, 255, .8);
	color: $color-text;
}

.navbar-header {
	h1 {
		font-family: "PlayfairDisplay";
		margin: 0;
		padding: 0;
		
		.logo {
			color: $color-logo;
			font-size: .7em;
			margin: 0 0 0 16px !important;
			padding: 0; 
		}
	}
}

.navbar {
	background: transparent;

	@include add-prefix-value (transition, all .5s); 
	
	&.scroll-past-0 {
		box-shadow: $elevation-2p;
		
		> .nav-link { color: $color-dark-grey; }

		&:before {
			background: $color-white-50 url(../images/filter.png) repeat;
			content: "";
			height: 50px;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -1;
			
			@include add-prefix-value (backdrop-filter, blur(2px));
		}
	}
}

.navbar-nav {
	float: none;
	font-size: .8em;
	margin: 0 auto;
	width: fit-content;
	
	@include add-prefix-value (transition, all .5s);
	
	.menulogo {
		bottom: 0;
		color: $color-logo;
		font-family: $font-logo;
		font-size: 1.5em;
		left: 16px;
		position: absolute;
		text-transform: uppercase;
		top: 14px;
		vertical-align: middle;
			
		&:before {
			display: inline-block;
			content: $icon-statera-logo;
			font-family: $font-icons;
			text-transform: none;
			
			@include add-prefix-value (transform, translateY(1px));
		}

		&:hover { cursor: pointer; }
	}
}

.navbar-inverse .navbar-nav > .open > a:focus { background-color: transparent; }

.dropdown-menu { background-clip: unset; }

.shortname {
	.navbar-nav li a.nav-link {
		position: relative;
		
		&:before { z-index: 21; }

		&:after {
			color: $color-white;
			display: block;
		}
	}
}