.skip-navigation {
  @include sr-only;
  @include sr-only-focusable;
}

@mixin add-prefix-value ($animation, $animation-name, $time: -1) {

	@if $time == -1 {
		-webkit-#{$animation}: $animation-name;
		-moz-#{$animation}: $animation-name;
		-ms-#{$animation}: $animation-name;
		-o-#{$animation}: $animation-name;
		#{$animation}: $animation-name;
	}

	@else {
		-webkit-#{$animation}: $animation-name, $time;
		-moz-#{$animation}: $animation-name, $time;
		-ms-#{$animation}: $animation-name, $time;
		-o-#{$animation}: $animation-name, $time;
		#{$animation}: $animation-name, $time;
	}
}

@mixin add-suffix-value ($attr, $effect-value) {

	#{$attr}: -webkit-#{$effect-value};
	#{$attr}: -moz-#{$effect-value};
	#{$attr}: -o-#{$effect-value};
	#{$attr}: -ms-#{$effect-value};
	#{$attr}: #{$effect-value};

}

@mixin add-left-to-right ($bkgrnd-color, $text-color, $h2-color) {
	
	border-radius: 0;
	position: relative;

	&:before {
		content: " ";
		border-top: 66px solid transparent;
		border-left: 100vw solid #{$bkgrnd-color};
		position: relative;
		display: block;
		bottom: 0;
		left: 0;
	}

	header, 
	.article-text, 
	.footer-text, 
	.article-footer { background: #{$bkgrnd-color}; }

	header h2 { color: #{$h2-color}; }

	.article-text p,
	.article-footer:after,
	.article-footer:before { color: #{$text-color}; }
	.article-footer { margin-bottom: 0; }

	&:after {
		bottom: 0;
		border-bottom: 66px solid #{$bkgrnd-color};
		border-right: 100vw solid #{$bkgrnd-color};
		content: " ";
		display: block;
		position: relative;
		right: 0;
		z-index: 3;
	}
}

@mixin add-right-to-left ($bkgrnd-color, $text-color, $h2-color) {
	
	border-radius: 0;
	position: relative;

	&:before {
		content: " ";
		border-top: 66px solid #{$bkgrnd-color};
		border-right: 100vw solid #{$bkgrnd-color};
		position: relative;
		display: block;
		bottom: 0;
		right: 0;
	}

	header, 
	.article-text, 
	.footer-text, 
	.article-footer { background: #{$bkgrnd-color}; }

	header {
		padding-top: 0;
		padding-bottom: 0;

		h2 { color: #{$h2-color}; }
	}

	.article-text p,
	.article-footer:after,
	.article-footer:before { color: #{$text-color}; }
	.article-footer { margin-bottom: 0; }

	&:after {
		bottom: 0;
		border-bottom: 66px solid #{$bkgrnd-color};
		border-left: 100vw solid #{$bkgrnd-color};
		content: " ";
		display: block;
		position: relative;
		left: 0;
		z-index: 3;
	}
}

@mixin add-right-to-right ($bkgrnd-color, $text-color, $h2-color) {
	
	border-radius: 0;
	position: relative;

	&:before {
		content: " ";
		border-top: 66px solid #{$bkgrnd-color};
		border-left: 100vw solid #{$bkgrnd-color};
		position: relative;
		display: block;
		bottom: 0;
		left: 0;
	}


	header, 
	.article-text, 
	.footer-text, 
	.article-footer { background: #{$bkgrnd-color}; }

	header {
		padding-top: 0;
		padding-bottom: 0;

		h2 { color: #{$h2-color}; }
	}

	.article-text p,
	.article-footer:after,
	.article-footer:before { color: #{$text-color}; }
	.article-footer { margin-bottom: 0; }

	&:after {
		bottom: 0;
		border-bottom: 66px solid #{$bkgrnd-color};
		border-left: 100vw solid #{$bkgrnd-color};
		content: " ";
		display: block;
		position: relative;
		right: 0;
		z-index: 3;
	}
}

@mixin add-left-to-left ($bkgrnd-color, $text-color, $h2-color) {
	
	border-radius: 0;
	position: relative;

	&:before {
		content: " ";
		border-top: 66px solid #{$bkgrnd-color};
		border-right: 100vw solid #{$bkgrnd-color};
		position: relative;
		display: block;
		bottom: 0;
		left: 0;
	}

	header, 
	.article-text, 
	.footer-text, 
	.article-footer { background: #{$bkgrnd-color}; }

	header {
		padding-top: 0;
		padding-bottom: 0;

		h2 { color: #{$h2-color}; }
	}

	.article-text p,
	.article-footer:after,
	.article-footer:before { color: #{$text-color}; }
	.article-footer { margin-bottom: 0; }

	&:after {
		bottom: 0;
		border-bottom: 66px solid #{$bkgrnd-color};
		border-right: 100vw solid #{$bkgrnd-color};
		content: " ";
		display: block;
		position: relative;
		right: 0;
		z-index: 3;
	}
}