.footer .menu-link {
	&.partner-1, &.partner-2, &.partner-3 {
		background-position: center center;
		background-size: cover;
		display: inline-block;
		height: 79px;
		width: 150px;
		
		&:hover { border-bottom: none !important; }
	}

	&.partner-1 {
		background-image: url("../images/holiday-inn-logo.png");
	}
}