//common fx + layout variables

//Breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1400px;
$screen-xxl-min: 1700px;

//Card defaults
$card-text: $color-white;
$aside-swatch: 135deg, $color-aside-swatch-01 0%, $color-aside-swatch-02 25%, $color-aside-swatch-03 60%, $color-aside-swatch-04 100%;

//Hamburger defaults
$hamburger-hover: $color-primary;
$hamburger-icon: $color-white;
$hamburger-shadow: $color-black-50;

//Global spacing
$guttering-mobile: 16px;
$guttering-tablet: 32px;
$guttering-desktop: 62px;
$guttering-desktop-LR: 124px;
$heading-top: 66px;
$navbar-top: 51px;
$default-letter-spacing: $size-002em-fontsize;

//Shadow defaults
$left-corner-shadow: 1.5px 1px 1px $color-text;
$right-corner-shadow: -1px -0.5px 2.5px $color-secondary;
$tooltip-shadow: 3px 3px 3px 0px $color-light-grey;
$neumorphism-shadow: 3px 3px 7px $color-black-60, -3px -3px 7px $color-white-50;
$neumorphism-shadow-menu: 3px 3px 7px $color-black-50, -3px -3px 7px $color-white-50;
$neumorphism-shadow-right: 3px 0px 7px $color-black-30, -3px 0px 5px $color-primary-light;

//Elevation defaults
$elevation-0p: 0 1px 3px $color-black-22, 0 1px 2px $color-black-60;
$elevation-1p: 0 1px 3px $color-black-12, 0 1px 2px $color-black-24;
$elevation-2p: 0 3px 6px $color-black-16, 0 3px 6px $color-black-23;
$elevation-3p: 0 10px 20px $color-black-19, 0 6px 6px $color-black-23;
$elevation-4p: 0 14px 28px $color-black-25, 0 10px 10px $color-black-22;
$elevation-5p: 0 19px 38px $color-black-30, 0 15px 12px $color-black-22;

//Highlight defaults
$highlight-2p: 0 3px 6px $color-white-16, 0 3px 6px $color-white-23;
$highlight-4p: 0 7px 17px $color-white-80, 0 7px 10px $color-white-60;

//Highlight dark-mode
$darklight-2p: 0 3px 6px $color-dark-16, 0 3px 6px $color-dark-23;
$darklight-4p: 0 7px 17px $color-dark-80, 0 7px 10px $color-dark-60;

