.spring {
	.header-title h1, 
	.header-title h1:before, 
	.cards.about header h2 { color: $color-spring; }
}

.summer {
	.header-title h1, 
	.header-title h1:before { color: $color-summer; }
}

.fall {
	.header-title h1, 
	.header-title h1:before,
	.cards.about header h2 { color: $color-fall; }
}

.winter {
	.header-title h1, 
	.header-title h1:before,
	.cards.about header h2 { color: $color-winter; }
}