.ui-tooltip {
	width: 200px;
	text-align: left;
	box-shadow: none;
	padding: 15px;
}
.ui-tooltip-content {
	position: relative;
	padding: 0.5em;
}
.ui-tooltip-content::after, .ui-tooltip-content::before {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	left: 90px;
}
.bottom .ui-tooltip-content::before {
	bottom: -10px;
	border-color: #AAA transparent;
	border-width: 10px 10px 0;
}
.bottom .ui-tooltip-content::after {
	bottom: -7px;
	border-color: white transparent;
	border-width: 10px 10px 0;
}
.top .ui-tooltip-content::before {
	top: -10px;
	border-color: #AAA transparent;
	border-width: 0 10px 10px;
}
.top .ui-tooltip-content::after {
	top: -7px;
	border-color: white transparent;
	border-width: 0 10px 10px;
}
.tooltip {
	font-family: $font-secondary;
	font-weight: bold;
	z-index: 10000 !important;
}
.tooltip-inner {
	background-color: $color-white-95;
	box-shadow: 0 3px 1px rgba(0,0,0,.1);
	color: $color-text;
	padding: 8px 15px 10px 15px;
	text-align: left;
}
.tooltip.top .tooltip-arrow {
	border-top-color: $color-white-95;
	border-width: 9px 9px 0;
	bottom: -4px;
	margin-left: -9px;
}
.tooltip .arrow:before { border-top-color: $color-white-95 }
.bs-tooltip-bottom .arrow:before { border-bottom-color: $color-white-95 }