#twitcker-toggler,
#twitcker-bar {
	bottom: 0 !important;
	position: fixed !important;
	top: unset !important;
}

#twitcker-bar {
	background: $color-black-80 url(../images/filter.png) repeat !important;
	border: none !important;
			
	a.logo,
	a.info { display: none; }

	&:before { 
		left: 0 !important; 
		
		@include add-prefix-value (background, linear-gradient(to right, $color-black, $color-black-0)!important);
		}

	&:after { 
		right: 0 !important;
		
		@include add-prefix-value (background, linear-gradient(to right, $color-black-0, $color-black)!important);
		}

	@include add-prefix-value (backdrop-filter, blur(2px));

	.box {
		background: none !important;
		background-color: none !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		margin-right: 0 !important;
		
		&:after {
			content: "";
			display: block;
			border-right: 1px dotted $icon-pencil-hover;
			height: 5px;
			overflow: hidden;
			width: 1px;
			
			@include add-prefix-value (transform, translateY(-15px));
		}
		
		a { 
			color: $icon-pencil-hover !important;
			font-family: $font-twitter;
			font-size: $size-1em-fontsize;
			line-height: 19px;
			
			&:hover {
				font-size: $size-1-5em-fontsize;
				
				@include add-prefix-value (transition, all 0.3s cubic-bezier(.25,.8,.25,1));
			}
		}
		
		
	}
}

#twitcker-toggler { display: none; }