.vegas-slide {
	&:after {
		background-color: rgba(0, 0, 0,.7);
		background-image: url(../images/filter.png);
		content: "";
		height: 100vh;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	@include add-prefix-value (filter, grayscale(1));
}