video { 
	background-size: cover;
	height: auto;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 50%;
	transition: 1s opacity;
	width: auto;
	z-index: -100;
	zoom: 119%;
	
	@include add-prefix-value (transform, translate(-50%,-52%));
}

.stopfade { opacity: .5; }

@media screen and (max-width: 600px) {
	.spring,
	.summer,
	.fall,
	.winter { 
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		}

	//disable vdo
	#bgvid { display: none; }
}